[2012-06-21 17:00] isidromerayo opened #3 "no root install"
Hi,
It's posible to install Magallanes from local user? ($HOME/magallanes)
Thanks!

[2012-09-19 08:38] isidromerayo opened #7 "change directory to release"
Hi,
I try to change the directory to release, using complete path but it's empty.
My file testing.yml
# testing

deployment:
  user: my_user
  from: ./
  to: /var/www/my_user/www/my_app_deploy
  excludes:
    - build
releases:
  enabled: true
  max: 10
  symlink: current
  directory: : /var/www/my_user/releases
hosts:
- myhost.mydomain.com
  tasks:
  #pre-deploy:
  #- scm/update
  on-deploy:

[cod

[2012-09-20 11:25] isidromerayo opened #9 "problems update / last version"
Hi,
I update with lastest version but something wrong :|

I try to deploy, the warning is

$ mage deploy go:testing

[code]

but list releases works

$ mage releases list to:testing
Starting Magallanes

[code]

Thanks!

[2012-09-20 17:16] #7 closed, assigned to nobody

[2012-09-21 15:38] #9 closed, assigned to nobody

[2013-01-14 17:06] isidromerayo opened #11 "Debug mode"
Hi,
When I try to deploy, "rsync" is frozen.
Sometimes it spend a lot of time.
Is there "debug mode" ?
Thanks

  Isidro

$ mage version
Running Magallanes version 0.9.14
$ php -v
PHP 5.4.9-4~precise+1 (cli) (built: Nov 30 2012 10:42:23)

[2013-01-24 12:08] ajgarlag opened #12 "Ability to introduce the hostname variable in the deployment path"
Usually I have to deploy applications to hostnames that are really CNAME records pointing to the same physical server.

To avoid collisions on file paths, I always put the hostname in the deployment path.

It would be great to have the ability to modify the **to:** param in the configuration file including the hostname variable

Something like this:

[code]

would deploy to: `/var/www/vhosts/s01.e

[2013-02-07 12:22] isidromerayo opened #13 "mage add environment XXX - You must specify a name for the environment."
Hi,
When I try to create a new enviroment in my new project

$ mage init
$ mage add environment production
Starting Magallanes

[code]

Finished Magallanes

:|

The init command create the structure

$ tree .mage/
.mage/
├── config
│   ├── environment
│   ├── general.yml
│   └── scm.yml
├── logs
└── tasks

[2013-02-07 12:43] #13 closed, assigned to nobody

[2013-06-21 05:12] amqex opened #17 "Not sending emails"
Hello,

I added and updated the sample content from general.yml in the docs folder to my general.yml in my .mage/config folder but its not sending any emails. Is this feature suppose to be working?

[2013-07-10 09:30] panunu opened #18 "Consider following PSR"
Consider following the de-facto standards (e.g. PSR-0, PSR-1, PSR-2):

http://www.php-fig.org
https://github.com/php-fig/fig-standards

[2013-07-10 09:32] panunu opened #19 "Namespacing"
Namespace classes (as `composer.json` requires PHP >= 5.3).

[2013-08-23 16:28] mzbusiness opened #20 "Can't clone the repo"
Hi,

Trying to clone the repo via https got this error :
error: refs/remotes/origin/master does not point to a valid object!
error: Trying to write ref refs/heads/master with nonexistant object cebced4c9b3ca95bc9b204efd6a6168a4853de30
fatal: Cannot update the ref 'HEAD'.

Any help ?

[2013-09-17 20:38] ivan1986 opened #21 "Compiller - wrong main file"
in
https://github.com/andres-montanez/Magallanes/tree/f8476197ac180fa1988244f592eee2e7e0f2e464
mage.php is remover
in Mage_Compiler need change
file_get_contents(**DIR**.'/../bin/mage.php')
to
file_get_contents(**DIR**.'/../bin/mage')

[2013-10-06 18:39] #21 closed, assigned to nobody

[2013-10-08 11:17] ivan1986 opened #24 "Not rsync method"
Now in Deploy.php:71

array_unshift($tasksToRun, 'deployment/rsync');

And how deploy not rsync?
for example git pull in server

[2013-11-07 13:25] marl-scot opened #25 "unable to find on composer packagist"
Hi,
In your install notes you say that this can be installed via composer, but i cant find your package anyware on the packagist site.
Is it listed under some other name, or are you going to put it on packagist in the future?

thanks

M

[2013-11-07 13:57] marl-scot opened #26 "Undefined property generalTemplate"
Hi,
Have just installed version 0.9.14 from github, and got the following error when trying
mage init

PHP Notice:  Undefined property: Mage\Command\BuiltIn\InitCommand::$generalTemplate in /opt/magallanes/0.9.14/Mage/Command/BuiltIn/InitCommand.php on line 86
        Error!! Unable to generate the configuration.

This appears to be because Line 86 of the InitCommand.php file curently says :
 $thi

[2013-11-07 14:30] #26 closed, assigned to nobody

[2013-11-07 18:45] marl-scot opened #27 "Notify user when the YAML is not correct"
Hi,
Im trying to write a new task to run on pre-deploy, I have used scm/clonetask as a template for my new task, and entered the following into my enviroment file :
tasks:
        pre-deploy:
                - ioncube/encrypt
        on-deply:
        post-deploy:
but it doesnt seam to call the task file (output from mage command only shows one task being run and thats the inital clone command)
My

[2013-11-07 22:00] marl-scot opened #28 "Accessing environment and general settings from tasks"
Hi,
What is the best way to access settings from the general.yml and the environment yaml files from task scripts?
I want to add an array to the yaml file for settings for a task, but cant find how to get the data (i keep hitting object is protected errors)
I see there is a way to get all settings under 'deployment' but it would be tidier to have my settings outside the normal blocks.

thanks
M

[2013-11-08 01:15] marl-scot opened #29 "Abort Deployment when Pre-Deploy task fails"
Hi,

What is the correct way to fail a task?
I can see the : throw new SkipException
But this allows the deployment process to continue.
Is there a 'proper' way exception to throw that indicates deployment should stop?
Also, is there a process for cleaning up temp files if an exception is thrown?

[2013-11-08 01:21] marl-scot opened #30 "git clone not working"
Hi,
getting the following at the moment when trying to clone :

git clone https://github.com/andres-montanez/Magallanes.git
Cloning into Magallanes...
remote: Counting objects: 980, done.
remote: Compressing objects: 100% (554/554), done.
remote: Total 980 (delta 373), reused 925 (delta 346)
Receiving objects: 100% (980/980), 156.58 KiB, done.
Resolving deltas: 100% (373/373), done.
error: refs/re

[2013-11-08 01:36] marl-scot opened #31 "change the local source directory during execution"
Is it posible/safe to change the local directory being used to deploy from while tasks are running?
eg.
pre-deploy task -> encrypts files from /tmp/deploy and saves them into /tmp/deploy.encrypted
task then changes the $this->getConfig()->deployment('from') path to '/tmp/deploy.encrypted' and deletes /tmp/deploy
rest of deploy tasks run using new directory

M

[2013-11-08 15:42] #29 closed, assigned to nobody

[2013-11-08 16:32] #3 closed, assigned to nobody

[2013-11-08 16:33] #20 closed, assigned to nobody

[2013-11-08 16:34] #19 closed, assigned to nobody

[2013-11-08 16:34] #18 closed, assigned to nobody

[2013-11-08 16:43] #30 closed, assigned to nobody

[2013-11-08 16:45] #12 closed, assigned to nobody

[2013-11-08 16:48] #11 closed, assigned to nobody

[2013-11-09 00:28] marl-scot opened #32 "Ioncube encoding task"
Hi there,
I have now compleated my ioncube php encoder task.
Would you be insterested in including it?
It requires 1 extra function to be added to your original code to allow tasks to extract data from the envirmonet config file.

M

[2013-11-10 14:49] #31 closed, assigned to nobody

[2013-11-13 20:54] #28 closed, assigned to nobody

[2013-11-13 22:14] #24 closed, assigned to nobody

[2013-12-18 11:12] #17 closed, assigned to nobody

[2013-12-18 11:12] #25 closed, assigned to nobody

[2013-12-18 14:34] slavaGanzin opened #37 "--no-color option needed"
Hello, again, Andres.

I use deployer through the teamcity and in logs have something like that:
- [15:07:36][Step 1/1]   [1;30mDeploy summary [0m
- [15:07:36][Step 1/1]       [1;30mEnvironment: [0m  [0;35mrc [0m
- [15:07:36][Step 1/1]       [1;30mRelease ID: [0m   [0;35m20131218130736 [0m
- [15:07:36][Step 1/1]       [1;30mSCM Branch: [0m   [0;35mrc [0m

[2013-12-19 06:41] slavafomin opened #38 ""Releaseing" failed"
Hey, there!

I'm trying to use Magallanes for deploying my web app to the production server. And actually it looks pretty cool.

But, I've encountered some problem.

On the final stage of the deployment, i'm getting the following output:

[code]

I have the following entries in my log file:

[code]

Looks like it's trying to chown some files, but I'm running deployment without root privileges.

Co

[2013-12-19 18:02] #37 closed, assigned to nobody

[2014-01-08 16:52] seydu opened #39 "Dry run option"
Hi.
This seems to be the exact library I was looking for ! Thank you for that.
I used to run commands like those in Magallanes in a very awkward code, written in Shell scripts. I couldn't even get my co-workers to help me maintain the code.
The install of Magallanses using Composer is smooth, so is the configuration.
But I have two questions:
1/ Is there a way to do a dry-run ? If yes how ?
2/ For

[2014-01-10 17:02] hco opened #41 "Parallel deployment"
I'm currently using capistrano, but I'm not completly happy with it.
I really like the simplicity of Magallanes, and it's close to what I would have written myself, but I'm missing parallel execution of the steps.
For instance, uploading & extracting of the .tgzs would be faster if it would happen on all hosts at the same time.

[2014-01-11 18:12] #32 closed, assigned to nobody

[2014-01-15 12:04] hco opened #43 "Exit code != 0 on deployment"
If deployment fails, the exit code should indicate that something failed, e.g. it should be greater than 0.

[2014-01-27 13:30] JurJean opened #44 "Remove statics"
The current program makes use of a lot of statics. Therefore the program is not easily testable.

I volunteer to solve this, adding unittests as I do so.

Thoughts?

[2014-02-11 13:42] mrjingles opened #46 "Add post-release tasks on rollback"
Tasks implementing RollbackAware interface should also run on successful rollback in post-release stage.

[2014-03-16 16:32] #43 closed, assigned to nobody

[2014-03-16 21:44] #46 closed, assigned to nobody

[2014-04-02 13:18] merryech0 opened #47 "some failed deploys in row break symlink current"
for example:

[code]

Custom task:

[code]

if remove custom task fail from production.yml deployment is successfull.
after successful deploy two failed deploys break a symlink "current"

[code]

[2014-04-03 11:48] JoeSimsen opened #48 "Password override"
Hello Andres,

First of all, great tool! I am currently trying to implement the tool in my projects. For ease of use we would like to add the password in the config, so it is included in the ssh/scp request. The program is going to be used on many different machines, so it would be preferable for it to be as much copy paste as possible.

It is definitely possible, and easy to implement. Any reason

[2014-04-16 08:50] JoeSimsen opened #51 "Custom global tasks"
Hey there,

What (if any) is the policy about creating custom tasks, for multiple projects? These can not be placed with the project, it would be better to place them in the Magallanes folder.

This works if I create a custom folder in BuiltIn and put them there. However, that is not preferable when working with version control, ie git.

Can you add a default folder next to BuiltIn, maybe called G

[2014-04-26 20:53] slavafomin opened #52 "Mage's exit code is incorrect?"
I'm not sure how to test this thoroughly but it looks like _Magallanes_ is not returning error exit code when errors happen.

It complicates my deployment shell script because I can't catch an error to stop it's execution.

Here's example of the shell script:

[code]

[2014-04-26 21:10] slavafomin opened #53 "Change time not permitted"
Hello!

I'm using _Mage_ to provision my _VPS_ in _DigitalOcean_.

It looks like time updating is not permitted for deployment user.

The deployment directory is owned by `www-data:www-data` and deployment user is a `user:user`, but he is in `www-data` group so he can manipulate all the files in this directory, but can't change timestamps.

How do I solve this issue? I can not login to the server

[2014-05-02 03:07] inf3rno opened #54 "git-ftp deployment strategy"
I recommend to add [git-ftp](https://github.com/git-ftp/git-ftp) support.

[2014-05-02 03:08] inf3rno opened #55 "liquibase support"
I recommend to add liquibase changelog support by deploying db schema changes...

[2014-05-14 02:29] katalisha opened #62 "Pass custom flags to the deployment task"
I need to pass a custom flag to the rsync task, have you considered how this could be done?
I was thinking of doing a pull request to allow the following in the config

[code]

[2014-05-16 07:04] miromana opened #64 "Deploy with releases keeps unsuccessful deploy but deletes successful"
1. suggestion: The oldest release should be deleted only if the current deploy is successful, and deleted otherwise, currently if we maintain 3 releases and we have 3 unsuccessful deploys we will end up with current link to missing release dir and no working release to revert to.
2. suggestion: The deployment with release support can first deploy to tmp dir, let say releases/tmp, this way we can b

[2014-05-27 10:02] JoeSimsen opened #67 "Localize output"
Hey,

It would be great to be able to translate the output of the application. Any ideas on this? Would do it myself, but I don't have the time right now.

Regards

[2014-05-27 12:03] JanMalte opened #69 "Fix version information on http://download.magephp.com/upgrade.json"
Change the output on http://download.magephp.com/upgrade.json
Old and invalid JSON:

[code]

New, valid JSON:

[code]

[2014-05-28 09:15] JoeSimsen opened #70 "Rollback error"
Hey,

When attempting a rollback, I accidentally typed "--releas=-1", wich of course is wrong. When this happened however, Mage did not generate an error, but rolled back to 0, wich technically did nothing.

Is it possible to give an error, or maybe make --release mandatory? And what is the use of --release=0, since that's where you are starting from right?

[2014-06-02 08:55] JoeSimsen opened #71 "Rollback shortcut"
Hey,

I've noticed we mostly rollbacked 1 version. Can we make a shortcut for rollbacking?
In my opinion <code>mage rollback to:production</code> should be enough to quickly revert what you just deployed.

Other question: why is the 'releases' word necessary in this command?

[2014-06-08 19:28] slavafomin opened #72 "Resolve symlinks during deployment"
Hey!

I have some symlinks in my project directory. Is it possible to deploy them as a target files/directories and not as a symlinks, i.e. resolve them during deployment?

I'm using TAR deployment method.

Thanks!

[2014-06-11 15:34] JanMalte opened #73 "LinkSharedFiles task is not working"
The class and filename for the LinkSharedFiles task ismissing the "Task" suffix.

[2014-06-12 07:53] JanMalte opened #75 "Link all files in "shared/" by default"
What do you think about linking all files and folders in `shared/` by default?

Adding each file in the configuration make it hard to read, as you have to state them all in one line. The line for symlinked files can get very long.

A different approach could be to provide a parameter for the LinkSharedFiles to enable the symlinking of all files in `shared/`. Something like:
`- Filesystem/LinkShare

[2014-06-12 11:33] #73 closed, assigned to nobody

[2014-06-12 21:17] #71 closed, assigned to nobody

[2014-06-12 21:22] #70 closed, assigned to nobody

[2014-06-16 09:06] asprega opened #76 "Deploy by local copy"
Hi. This is more of a question than an issue. What about including a deployment option for the rsync strategy which only performs a local copy (without ssh)? Many development machines are also used as staging machines, so this could be useful in my opinion. If it's something you're willing to add, I can take care of the pull request.

[2014-06-16 10:13] #76 closed, assigned to nobody

[2014-06-16 16:09] spongeben opened #77 "Issue with #63"
Hi,

Just a small bug introduced with #63.It doesn't use the symlink option as defined in the release but a hard coded "current" path instead. (line 64)
So if this path is modified, the "ls" command throw an error as it cant find it

Benjamin

[2014-06-17 08:31] #77 closed, assigned to nobody

[2014-06-17 09:46] asprega opened #79 "Additional rsync options"
Hi. What about adding a configuration option to include arbitrary rsync options? For example, `--delete` and `--delete-excluded` could be useful when using the incremental strategy.

[2014-06-17 10:39] #27 closed, assigned to nobody

[2014-06-22 17:18] Danielss89 opened #80 "Current release doesn't include git deployment"
Hi

On the website you suggest git-rebase as a strategy, the code for it exists but the DeployCommand doesn't know of it:
https://github.com/andres-montanez/Magallanes/blob/a97d172a6d1b87aeab6d5a50f939b5ac00e6a906/Mage/Command/BuiltIn/DeployCommand.php#L301-L322

[2014-07-10 13:32] muratak18 opened #82 "cant get usergroup info from command line"
in this file Mage/Task/BuiltIn/Deployment/ReleaseTask.php
Line : 58
there is a check if ($resultFetch && $userGroup != '') but at the line 68 even if userGroup is empty it still runs the command and it fails. Error : "missing argument for chown"
command : "chown  releases"

Our environment is Centos 6.2 and the owner of the folder being deployed is different from "root"

[2014-07-11 06:31] erincinci opened #83 "TarGZ deployment method problem"
When we triy to deploy to our production CentOS 6.2 server from our Ubuntu 12.04 machine using TarGZ method, deployment process completes successfully but the remote folder seems to be empty. However, Rsync method works just fine. Releasing option is also enabled.

[2014-07-16 14:34] phw opened #86 "Support Symfony 3 directory structure"
In newer Symfony 2 releases you have the option to use the "Symfony 3 directory structure" when setting up a new project, see https://stackoverflow.com/questions/23993295/what-is-the-new-symfony-3-directory-structure for details on the changes.

Especially the console command was moved from app/console to bin/console. That makes the current builtin Magallenes Symfony tasks fail.

[2014-07-19 13:42] slavafomin opened #88 "Add progress indication"
Hi!

I'm deploying a big project from a slow connection. I would love to see some progress indicator with percentage and ETA.

[2014-07-22 10:14] JoeSimsen opened #89 "isReleaseAware and runCommandRemote"
Hey,

Imho the use of the interface isReleaseAware is not the easiest way to go. I would say, create an extra function next to runCommandRemote, to run commands from the root.

Something like:

[code]

In my tasks i have found the need to specifically want to run commands on the root, and in the same task also on the current release folder. I have seen this in your tasks as well. In stead of havin

[2014-07-23 13:08] JoeSimsen opened #90 "Yaml nesting"
Hey,

I'm trying to pass parameters to a task, however do not want to do this on one line. However this does not work:

[code]

Anyone have an idea what I am doing wrong?

[2014-07-24 08:43] xrow opened #91 "Problem during install"
The files got placed in the wrong spot. The symlink was not working.

[root@localhost ~]# magallanes/bin/mage install --systemWide --installDir=/usr/share/magallanes
        Installing Magallanes...
Warning: chmod(): No such file or directory in /root/magallanes/Mage/Command/BuiltIn/InstallCommand.php on line 67
Success!

[root@localhost ~]# ls -lisa /usr/share/magallanes
total 12
66001 4 drwxr-xr

[2014-07-24 14:00] Geus opened #92 "Fail when doing the Releasing"
Hi andres, how are you?

I'm starting to use your awesome tool, but i'm facing a bit of problem. I created a pair of custom tasks to deploy a Symfony2 app and everything is working with those tasks, but now I'm getting a FAIL when the deploy task is finishing.

This is what I get:

[code]

As this fails, the 'current' link isn't updated.

When I see at the logs, I don't see anything weird, so I du

[2014-07-25 08:31] JoeSimsen opened #93 "Release and rollback discussion"
Hey,

When you rollback a release, lets say -1, the newest release 0 will keep on existing. Now say you leave it like this, because the site works.

Some time later you run a new release. This one fails, and you rollback, -1. Now your site is still broken. What? How? Because this was the broken release from earlier.

This is a dangerous situation. Any ideas on what to do here?

[2014-07-26 08:51] voukka opened #94 "Cumbersome to test own custom tasks"
There are no tests for Mage... :(
I try writing tests for my own Tasks, but it is almost impossible(please see a workaround below) to create an instance a custom Task without having to create new testing.yml file.  Ugh.

So in the problem is that
-  - constructor requires parameter of type Config , so you cannot pass there mock of Config
-  - ok, then you want to mock your Task instance without ca

[2014-08-01 08:44] Trudko opened #98 "Pass version of release to create git tag"
I would like to create custom Task which would merge master and develop branches and then add tag to master. I would like to pass internal release number to the task, but I don't see how. I could put it into settings, but then I would have to change it every time by hand.

Ideally I would like to be asked for it when running from command line.

Thanks!

[2014-08-04 04:07] Argentum88 opened #99 "cloneTask"
Hi!

When I deploy an application to the server, the server directory structure is inconvenient when using cloneTask.

For example /some_path/c18236577e97f70e89a23d8b3eebe474/

What is the best way to solve this problem?

Thanks!

[2014-08-06 18:04] #93 closed, assigned to nobody

[2014-08-06 20:42] #86 closed, assigned to nobody

[2014-08-06 21:28] #90 closed, assigned to nobody

[2014-08-06 23:42] #91 closed, assigned to nobody

[2014-08-06 23:58] #98 closed, assigned to nobody

[2014-08-07 00:26] #69 closed, assigned to nobody

[2014-08-07 00:43] #52 closed, assigned to nobody

[2014-08-07 00:45] #79 closed, assigned to nobody

[2014-08-07 00:51] #72 closed, assigned to nobody

[2014-08-07 13:52] #62 closed, assigned to nobody

[2014-08-07 14:04] #47 closed, assigned to nobody

[2014-08-07 19:42] #64 closed, assigned to nobody

[2014-08-07 19:43] #38 closed, assigned to nobody

[2014-08-07 19:50] #80 closed, assigned to nobody

[2014-08-09 12:25] JanMalte opened #101 "Create branch for development and use master for releases"
Following the Git-Flow method, I would suggest co create a "develop" branch for the active development and use "master" for stable releases.

More information:
http://nvie.com/posts/a-successful-git-branching-model/
https://github.com/nvie/gitflow

[2014-08-11 13:18] #101 closed, assigned to nobody

[2014-08-12 10:16] #99 closed, assigned to nobody

[2014-08-13 07:41] Argentum88 opened #102 "deployment my code from git repository, without the participation of the local machine"
Hello!

I want to deploy my code from the git repository, without saving it on my local machine. As I understand it, for this is the git-rebase strategy.

As in this case the deploy my code from a particular branch? How to specify parameter branch?

Thanks!

[2014-08-17 15:35] CodeMonkey90 opened #103 "Shell arguments (esp. folder names) are not being escaped"
I just noticed that shell arguments don't seem to be escaped anywhere, which means that e.g. deployment will not work if your local project folder contains spaces in its name.

[2014-08-17 16:43] CodeMonkey90 opened #105 "Allow users to enable host key checking"
While the default makes sense, this should be configurable.

[2014-08-17 16:44] CodeMonkey90 opened #106 "RsyncTask does not pass excludes to rsync correctly."
See #107

[2014-08-19 09:01] Trudko opened #109 "Command not found"
Hi i put HelloWorld.php under .mage/commands directory with code from tutorial:

[code]

I have invoked vendor/andres-montanez/magallanes/bin/mage hello-world but I get error command not found.

[2014-08-20 12:22] guepe opened #111 "Sudo management"
in runCommandRemote  integrate the option to use sudo commande instead of using apache or root.
it could be a simple option to set and then add the sudo keyword in the command line.

Could also list all commands needed for a sudo and suggest a visudo config.

Thanks :)

[2014-08-21 18:19] eps90 opened #113 "Use Composer autoloader for class loading to give more extendability for Magallan"
Hello again!
I've been mastering with Magallanes recently and I think it could be nice feature to use composer autoloader for Magallanes class loading. I know that the existing `Mage\Autoload` class is semi-convetional and takes base_dir dynamically, but there are many pros with going this way:
- optimized autoloader - and less work with supporting the current one
- common autoloading for all name

[2014-08-22 08:41] Trudko opened #114 "Git-rebase strategy checks out files into main folder instead of subfolders"
Hi I have webapp folder with .git folder instead of it. When I use git-rebase strategy app code is checkout into main directory instead of release/release_x folder.

[2014-08-25 10:02] xrow opened #115 "Download broken"
http://download.magephp.com/magallanes.latest.tar.gz gives a HTTP 404. Maybe the docs need an update.

[2014-08-25 17:25] #115 closed, assigned to nobody

[2014-08-25 20:22] #106 closed, assigned to nobody

[2014-09-03 08:36] Trudko opened #119 "Rollback function for task"
Hi,

I would like to rollback tasks if something failed. For example I created tag in custom task and next task fails. I need env in same state as it was before the release so some rollback function , like it is common with database migration would be great.

Is it possible now?

[2014-09-05 02:41] matthewpeach opened #120 "New tagged release?"
The last tagged version was done back in March:

https://github.com/andres-montanez/Magallanes/tree/1.0.1

But there has been 100 commits to develop since then.

Is there any chance of getting a new release tagged at an existing revision, or is a new version already being worked towards?

[2014-09-05 09:05] iamtankist opened #121 "Color Themes"
On Solarized dark background Magellanes output looks like this

http://tinypic.com/r/30kss45/8

Would be great to have the ability to modify the color scheme per configuration or please consider changing to Solarized color theme so it looks the same on dark/light backgrounds (more info http://ethanschoonover.com/solarized)

Thanks a lot for your great efforts!

[2014-09-07 23:55] matthewpeach opened #123 "GitRemoteCacheTask not in DeployCommand"
The `GitRemoteCacheTask` deploy strategy added in 4c3f50608e3936df15f6d18fe7946f598ac469f0 does not exist in `DeployCommand`. (Nor is it referred to from anywhere else.)

This is much like issue #80.

[2014-09-11 20:29] silentworks opened #124 "Branch management is very confusing"
I am looking at the develop and master branch of this project and notice that you merged some changes in to develop that aren't in master and master seem to have more recent changes than develop. How are the branches being managed, most projects take the approach of master being current release (latest tagged) while develop is the currently active development of the project branch.

[2014-09-13 18:23] #53 closed, assigned to nobody

[2014-09-13 18:24] #82 closed, assigned to nobody

[2014-09-13 18:24] #83 closed, assigned to nobody

[2014-09-13 19:54] #123 closed, assigned to nobody

[2014-09-13 20:28] #113 closed, assigned to nobody

[2014-09-13 20:29] #109 closed, assigned to nobody

[2014-09-13 20:47] #124 closed, assigned to nobody

[2014-09-13 20:48] #120 closed, assigned to nobody

[2014-09-15 14:43] JoeSimsen opened #126 "Failed tasks"
Hey there!

When one of my tasks fails, the rest in the 'sector' (as in pre-deploy, post deploy etc) still run. This sometimes breaks the site. What is the thought behind this?

And isn't it even an idea to automatically rollback on a failed task? Or maybe on x failed tasks. Why would you want the project to stay in a (probably) broken state?

Regards!

[2014-09-16 12:27] gudron opened #127 "ssh private keys."
Hello guys.
I have a question:
How can I set the path to the private key, which will run through the ssh connection? I could not find in the documentation.

**!Update**
i find it.

[code]

[2014-09-17 07:10] ramunasd opened #128 "Failed upgrade to 1.0.2"
After `sudo mage upgrade` dir /opt/magallanes/1.0.1 was removed, now new dir was created. Symlink /opt/magallanes/latest points to version 1.0.1.

No errors were shown.

I had to re-install mage completely.

[2014-09-18 08:59] mattsnowboard opened #129 "Remote commands with bash alias not working"
On my remote server (shared hosting with WebFaction) I have php, php53, php54, php55.
I want to always use php55, so I made an alias in my .bashrc (alias php="php55")

This works, but with Magallanes, commands are run as:

ssh user@server "sh -c \"php doStuff\""

In that case, my aliases aren't expanding. I've messed around with my .bashrc and .bash_profile files to see if I can fix it. For exampl

[2014-09-19 12:21] gudron opened #130 "A failed build returns 0"
[code]
and if echo last returned code, i get 0
[code]

next case

[code]
returned
[code]
and My CI server with jenkins, sends to me message about successful build.

[2014-09-23 11:18] muratak18 opened #131 "Can't get release list if you have multiple hosts defined in your environment"
Hi,
When i define multiple hosts in my envrionment file, i can't get release list.
This is the log detail :
2014-09-23 11:07:22 -- Releases available on Array
2014-09-23 11:07:22 -- Run remote command cd /home/webfolder && ls -1 releases
2014-09-23 11:07:22 -- ---------------------------------
2014-09-23 11:07:22 -- ---- Executing: $ ssh  -p  -q -o UserKnownHostsFile=/dev/null -o StrictHostKeyChec

[2014-09-24 00:00] denji opened #132 "homebrew-php"
I could not find prepared [phar](http://magephp.com/#install), whether you need prepare complete build? [demo](https://github.com/Homebrew/homebrew-php/blob/master/Formula/behat.rb#L5-L24)

/cc @andres-montanez

[2014-09-26 13:44] #127 closed, assigned to nobody

[2014-10-01 04:41] #132 closed, assigned to nobody

[2014-10-08 21:43] #75 closed, assigned to nobody

[2014-10-10 19:48] gudron opened #142 "Run global task before local. Is it possible?"
Hello guys. I have a question about the deployment strategy.

I think it's logical if any step in the deployment process - not succeed - the deployment process must be stopped. Even if the task fails the only one of numerous servers in the cluster.

In my case, there are several servers with databases. One master server, two slave. I run the migration and seeding tasks only on the master server. N

[2014-10-20 08:07] gudron opened #143 "Run a task from other user."
hi everyone.
I have a problem with the launch of different tasks on the same server by different users.
Now I solved this problem as follows:

[code]

I need to run "differentUserTask" on server "123.123.123.123".
I can not set 2 times the same ip option "hosts". So I use a "dirty trick" with the domain name that has an A record for ip - "123.123.123.123".

And it seems that the problem is solved.

[2014-10-27 18:59] eps90 opened #144 "Verbose option"
Hi!
Recently I use Jenkins to deploy projects using Magallanes. When the build fails, I can see which task failed but actually I don't know why. So I think it would be good feature to add `verbose` option to global command and then while adding a message to logs it would be thrown on screen.
Sample usage:
[code]
What do you think? Thanks for feedback!

[2014-10-29 14:29] lutangar opened #147 "Link shared files task: failed at creating symbolic links"
Hi there,

Looking at my logs, I noticed that symbolic links creation was failing :

[code]

The reason behind this obviously being the `cd` executed before executing the remote command.

I didn't find any options to fix this behaviour. **But** a possible fix would be to either not execute the `cd` or ignore the `to` folder in the symbolic link creation command.

_Example :_
 https://github.com/an

[2014-10-29 16:05] #147 closed, assigned to nobody

[2014-11-01 20:49] #143 closed, assigned to nobody

[2014-11-01 20:56] #142 closed, assigned to nobody

[2014-11-01 20:57] #126 closed, assigned to nobody

[2014-11-01 21:10] #131 closed, assigned to nobody

[2014-11-01 21:24] #128 closed, assigned to nobody

[2014-11-01 21:31] #121 closed, assigned to nobody

[2014-11-01 21:32] #119 closed, assigned to nobody

[2014-11-01 21:33] #129 closed, assigned to nobody

[2014-11-01 21:35] #92 closed, assigned to nobody

[2014-11-13 21:05] gudron opened #155 "Clean up releases after post-deploy stage. Only if all works done."
Question is related with the rollback task PR[#154](https://github.com/andres-montanez/Magallanes/pull/154).

Case:
We have 4 successful release.
And max count of releases is 4.

[code]

Ok. And next release will be failed at post-deploy stage.
In my case - for example - because fail at [codeception tests](http://codeception.com/).

Once will be rolled back - in the list of releases will be one le

[2014-11-14 09:16] ramunasd opened #156 "Task: Copy vendors from previous release"
This would speed up composer actions for new release.

[2014-12-01 23:53] andres-montanez opened #160 "Configuration option that allows us to set environment variables for SSH commands"
From #117

[2014-12-02 19:41] SenseException opened #163 "Adding Coverage to Magallanes code"
Since the first tests are in development branch, we should think about adding code coverage to the project.

I saw that some projects are using Coveralls (https://coveralls.io/), but I'm not that familiar with this service. Are there other code coverage services that can be added to github?

[2014-12-11 00:41] limfinity opened #168 "Work around 'chown' command"
Hi everybody,

I have a webspace with SSH control. But I am not allowed to use the 'chown' command. Only from a web-backend I am allowed to change ownerships. Is there a way to make mage deployment work without using 'chown'?
Thanks for your help!

Peter

[2014-12-11 09:29] ramunasd opened #169 "Rsync should remove deleted files"
Even file is removed from repo, it stays in servers untouched. Rsync doesn't takes in effect file removals, only creation and update.

[2014-12-28 15:26] jhuet opened #174 "Documentation & contributor guidelines"
I'm not sure this is the right place to start this up as there is a [MagallanesSite](https://github.com/andres-montanez/MagallanesSite) repository where the documentation is today but i feel like i'll have more feedback here, so here i am.

I wanted to start by saying i really like the [website](http://magephp.com/) it exposes very clearly the basics of how Mage works and how basic configurations

[2015-01-04 13:54] eps90 commented on #174
I agree, @jhuet
Unit tests are on the way, testing environment is ready, we need to cover up existing code with tests. I had completly no time recently but I hope I'll come back into this soon. Any help will be appreciated ! :)

[2015-01-04 17:49] #144 closed

[2015-01-04 17:50] eps90 commented on #144
Closing the issue, the PR has been merged and there is no more issues connected with verbose option.

[2015-01-05 12:47] eps90 commented on #94
I've just found another issue. Some of methods, for example `AbstractTask::runCommand` are marked as final. Yesterday I was coding some unit tests for built-in tasks and I didn't know why I couldn't stub that method (simply to not to run given command, I just wanted to place some expectation of calling it). Finally I found the reason.
So do we really need final methods? I know there are security r

[2015-01-05 15:37] eps90 commented on #163
@SenseException @jhuet Yup, we should add code coverage indicator.
Developers should also run tests with code coverage reporting, e.g. by:

    ./bin/phpunit --coverage-text

or even

    ./bin/phpunit --coverge-html report

PS1: The `bin/phpunit` has been added by in #162 . It still waits for approval...
PS2: @jhuet As you've mentioned in #174 , we need to compose some documentation for contribut

[2015-01-05 17:17] jhuet commented on #174
As a start i propose we use a gist for the contributor guidelines. We'll be able to write the document and comment on it there : https://gist.github.com/jhuet/da204ccd1db2567cfc8b

[2015-01-05 17:42] eps90 commented on #174
Hmm, how about some Wiki page in Magallanes repo? Or even MD file in `docs`? Easier to maintain and advantages of versioning it with Git ;)

[2015-01-05 18:00] jhuet commented on #174
Gist is versionized (it uses git behind the scene) and can be written in any language including MD. I felt like using this as long as the document is a draft to more easily enable people to contribute to it. It also allows comments so any back and forth discussion would be in one place with the document.

Then once we have something we think is good enough we could officially add it to the wiki or

[2015-01-05 18:46] eps90 commented on #174
Just after adding my last comment, I got the same idea :) If there is a Git and we can see the history it's really great. the only disadvantage is that Gists don't support pull requsts...
Anyway, I'm in!
@andres-montanez What do you think about it?

[2015-01-12 09:11] SenseException commented on #174
ping @andres-montanez

[2015-01-14 12:14] DaniSancas commented on #174
Hi all,

I'm a watcher of this repo (good job, men, congratulations!) I'm tired of fighting against "crapifony", if you know what I mean. So, I'm migrating to Magallanes next week.

And here's my question: **Are you adding documentation about how to config Magallanes to share dirs and files?** From now it seems to be the only thing I miss in the already writen docs.

[2015-01-14 13:09] jhuet commented on #174
@DaniSancas, yes that is definitely something that has to be documented too. In meantime, have a look at this [comment](https://github.com/andres-montanez/Magallanes/issues/156#issuecomment-68343018) i made, it should help you going about using symlinks to share directories.

[2015-01-14 13:34] DaniSancas commented on #174
Great!!

I also found this other example https://github.com/andres-montanez/Magallanes/issues/75#issuecomment-52432284

My usual config in capifony is this (I think is the usual one)

    # shared files
    set :shared_files,    ["app/config/parameters.yml"]

    # shared children
    set :shared_children, ["app/logs", "app/sessions", "vendor", "web/uploads"]
    set :writable_dirs, ["app/cache",

[2015-01-14 15:53] mabrahamde opened #182 "Deployment to localhost without ssh overhead"
I am wondering if it would be possible to deploy a project to localhost without the overhead of ssh.
I like the idea of executing magallanes directly on the server(s). In this case you do not need to connect via ssh. You can execute all commands directly.

I do not want to store the private keys on the server. Deploying from remote is not an option.

Any suggestions?

[2015-01-14 17:22] eps90 commented on #182
Have you tried `git-rebase` strategy?

[2015-01-14 17:48] mabrahamde commented on #182
The git-rebase strategy does not seem to be a resolution.

I want to ping the server (solved outside of Magallanes). Then on the server Magallanes is called to deploy a new release, on itself.

Magallanes should run on the servers directly.

[2015-01-14 20:26] eps90 commented on #182
Well there is no such functionality now, I think. Maybe I didn't notice it but you can of course use some simple workaround:
1. Create two environments - `prod` and `local`
2. Create simple task that would run magallanes deployment command with `local` environment as an argument
3. Configure `prod` environment to run your task on `on deploy` stage.

Nothing more comes into my mind in this moment.

[2015-01-14 22:50] mabrahamde commented on #182
Thanks for your quick reply. I am looking forward to your pull request. :)

[2015-01-18 13:22] eps90 commented on #160
I've created some simple solution to append env vars to tasks' commands, feel free to review! :)

[2015-01-23 11:30] Trudko opened #185 "Git rebase strategy doesn't create directory for release"
Hi, I am trying a git rebase strategy and according to a log and from what I checked in the code it seems that during git rebase strategy a directory for the release is not created. Here is start of the log for last release.
[code]
Folder 20150123111038 isn't created and deployment failed.

[2015-01-26 22:26] SenseException commented on #174
For constributions, we can use php-cs-fixer to keep consistency in coding style for contributions. We only need to find a fitting level for the fixer.

In case composer.json is going to be changed by a bugfix or a feature, we need to add how to build the composer packages to the documentation. Something like

[code]

[2015-01-27 05:41] eps90 commented on #174
@SenseException Wake up :) Contribution guidelines has been made within #183 :)

[2015-01-27 06:35] eps90 commented on #174
@SenseException But I think `composer` usage should be a part of `README`, not contributor guidelines. I think that if someone is going to contribute, he knows how to install packages :)

[2015-01-27 09:30] SenseException commented on #174
This can have a huge impact when packages are changing in a big way. Building up with other options can cause downloading newer, older or maybe dev packages that aren't stable.

[2015-01-27 18:52] dennisusdev commented on #185
+1 on this, using v1.0.3 - reverting to 1.0.2 resolved the issue

[2015-01-28 06:33] eps90 commented on #185
Thanks for reporting. I'll check that.

[2015-01-31 03:59] lukezbihlyj commented on #185
It looks like this is the relevant commit: https://github.com/andres-montanez/Magallanes/commit/92b22d52a3603b2b7c8f22b3baadc470ecb3bc36#diff-81da38bff73f46a53c72da138abfb492

The section to deal with releases was removed entirely, for an unknown reason.

[2015-01-31 07:54] eps90 commented on #185
i think so. I've also found this while looking for differences between 1.0.2 and 1.0.3. I'll try to fix that today'.

[2015-02-01 11:07] eps90 commented on #185
Hey, I've made a PR at #187. Take a look.
I've made a little research why this piece of code has been deleted. And I didn't find the answer. So @andres-montanez Can you also take a look? Maybe there was some reason to remove directory creation?
@Trudko @lukezbihlyj @dennisusdev Please test it, any feedback will be welcome

[2015-02-01 11:34] spongeben commented on #185
Hey!

I think there's the same issue with the rsync strategy (and maybe others...)
And as this one I think it was working fine with older releases of Mage.
Didn't have time yet to check, I'll try to have a look at it

[2015-02-01 13:00] eps90 commented on #185
@spongeben The problem with `GitRebase` strategy was that directory wasn't created at all while in `RsyncTask` it's done. Could you provide some logs of calling deployment with rsync?

[2015-02-02 11:28] Nilson89 opened #188 "Make Task-Factory more dynamic"
At the moment it is not possible to add new Tasks outside the .mage/task directory.

If you want to define Tasks to use in more than one project, you should be able to
1. Have a repository with composer support
2. Add this repository to projects dependencies in composer.json
3. Let the Task-Factory look for tasks like MyNamespace\Task\MyTask

[2015-02-02 17:40] eps90 commented on #174
Hey I've created a pull requests with some notes about testing coverage annotations to `CONTRIBUTING.md` file: #190

[2015-02-04 19:00] eps90 commented on #156
I think CLI is a bad idea here because of CI and CD tools. They cannot wait for any user input during the build. But there may be some workaourd by using `--non-interactive`/`-in` option and prevent interactive mode.
To complete @jhuet comment: After you've got shared `vendor` directory, you can run composer install after your symlink has been made. Then:
* if there are no updates in `composer.loc

[2015-02-05 17:03] alwex opened #192 "using git tag instead of timestamp for releases"
I think it would be very handy if we can combined magallanes with gitflow and use git tag to deploy a release.

for example I tag my master branch with v1.2.3, then I deploy this tag to production using

`bin/mage deploy --release=v1.2.3 to:dev`

Is there a workaround to make such a thing?

Really nice tool by the way.

[2015-02-05 17:05] andres-montanez commented on #192
Interesting idea!
But we have to be careful, we can't introduce a feature "git dependent".
Perhaps we could combine a scm task, and an option to overwrite the release id.

[2015-02-05 17:32] eps90 commented on #192
I like it too! :) But as @andres-montanez said, we can't be dependent only to one VCS. We should handle also other popular and still in use: Subversion, Mercurial, P4 and (eventually) CVS. But in the other hand a decorator implementing some `PackageReleaseAware` interface could do many other things, e.g. create a zip/tar file on target server.

[2015-02-06 19:51] eps90 commented on #185
I've pushed a commit with remote directory fix (thanks for @lukezbihlyj  for spotting it).

[2015-02-09 11:39] spongeben commented on #185
@eps90 my bad...it was indeed unrelated with this one. But there's a bug with the rsync strategy with the rsync_copy option enabled. I'll open a new issue or post a PR

[2015-02-09 11:46] eps90 commented on #185
Great, if you know where's the problem exactly, that would be awesome :)

[2015-02-14 13:02] eps90 commented on #163
@SenseException @jhuet I've added a PR with travis and coveralls configuration. Please take a look on it.

[2015-02-16 21:29] SenseException commented on #192
What does --release=v1.2.3 do when the code is executed? Are the release directories named by that parameter?
The deletion of old releases is coupled to the date-stamp it is using for the release directory names. We have to look for another deletion strategy in case we allow custom namings.

[2015-02-17 08:51] alwex commented on #192
--release=v1.2.3 represent a git tag, in git flow you have to push a tag on your master branch to identify a release. Basically, this parameters will allow a `git checkout -f refs/tags/v1.2.3`

[2015-02-17 09:40] SenseException commented on #192
@alwex Sounds interesting. Currently, I only know tag formats like you showed in your example (v1.2.3), but tags can have any format. We definitly would need another deletion-strategy for older releases when number of max releases is reached.

[2015-02-17 09:52] alwex commented on #192
@SenseException of course, but I think that to be fully fonctionnal, the tag format may be fixed like MAJOR.MINOR.PATCH.

see for example the project https://github.com/Twenga/twgit which respect this versionning format.

[2015-02-17 19:22] eps90 commented on #192
Deleting old versions shouldn't be hard assuming that every release made by Magallanes in this case would be done by a `GitTagReleaseStrategy` (we can sort it using built-in `version_compare`). The problems shows up when target directory contains both timestamps and tag folders.
Other problem is lack of conditional deletion here. Someone would like to keep all the versions but get rid deprecated,

[2015-02-18 21:15] chrisfromredfin commented on #51
I'm not sure why this issue is closed. I think the OP wanted (as I do! :) ) the ability to create a custom Task that can be shared amongst all my mage projects.

I have a number of sites that I will be deploying with magallanes but they're all Drupal - so I want to add some commands to clear Drupal caches - but I don't want to add the same custom command to every .mage/tasks, since I'll have a mas

[2015-02-18 21:27] andres-montanez commented on #51
Hi @chrisfromredfin the feature is available :)
I don't recall if it is already on version 1.0.3, but certainly it is on master.

[2015-02-18 21:51] chrisfromredfin commented on #51
It is available how - as you mentioned: "define a parameter in each general.yml config, to point to a directory which will contain global tasks." I'm also seeing things about being able to load from a different namespace or something, so is it available that way then instead?

The documentation still says "Every custom task must be stored in your .mage/tasks directory."

So just having trouble fin

[2015-02-18 21:56] andres-montanez commented on #51
Point taken. Yes, the "global" is not implemented.
Lets reopen to implement the feature :)

[2015-02-18 22:30] chrisfromredfin commented on #188
#189

[2015-02-18 22:34] chrisfromredfin commented on #51
It looks like there is work being done here that is pretty current:
https://github.com/andres-montanez/Magallanes/pull/189

It references issue #188 as the itch being scratched.

[2015-02-19 05:36] eps90 commented on #51
yes, @chrisfromredfin we're discussing about it :) If you have something to share with us, go on :) Every idea is valueable for the project!

[2015-02-19 10:44] jhuet commented on #51
I'm using a workaround on that matter by creating a ``.mage`` directory related to no project. So i basically only have .mage and vendor folders there. Then i have all my custom shared tasks here. So for any deployment i go in that directory and deploy the project i want. Of course that means that you also need to have all the configurations of all your websites in here and not in each project dir

[2015-02-20 10:16] MasterB commented on #169
+1  (maybe implement rsync --delete-{before/after} options, configurable)

[2015-02-20 10:34] lucascherifi commented on #185
+1

[2015-02-20 11:29] eps90 commented on #169
Thanks and @ramunasd  @MasterB for suggestion, we'll surely take a look on that! ;)

[2015-02-20 12:21] MasterB commented on #169
I found something that works for me and it is already implemented:

{environment}.yml
deployment:
    strategy_flags: {rsync:'--delete-before'}

is this feature only not documented?
or is it not stable?

[2015-02-20 12:27] eps90 commented on #169
Well I took a quick look into the code and it seems it's just a string appended to `rsync` command if given. So - yes, you can use it but on your own risk.
Documentation, I hope, is on the way, but first we write unit tests for existing code. Well for some devz tests are documentation of code themselves if class is fully covered but I'm sure that more friendly documentation would be a plus here. F

[2015-02-20 12:38] chrisfromredfin commented on #51
@jhuet Meaning you just define multiple environments, so instead of staging.yml and production.yml, you have things like staging-abc.yml, staging-def.yml, production-abc.yml, production-def.yml, etc?

[2015-02-20 16:43] jhuet commented on #51
@chrisfromredfin yes exactly.

[2015-02-22 12:15] #156 closed

[2015-02-22 16:39] eps90 commented on #114
I think it duplicates #185 issue and #187 Pull Request. @Trudko could you confirm it works for you? Thanks.
Anyway I'm closing this issue.

[2015-02-22 16:39] #114 closed

[2015-02-22 19:52] bglover commented on #103
If you're using PHP 5.5+ you can set the php.ini parameter of sys_temp_dir to:

[code]

That worked for me deploying from Windows 8.1

[2015-02-24 20:22] eps90 commented on #185
@Trudko @dennisusdev @lukezbihlyj @lucascherifi
I've merged the #187 PR so you can install the Magallanes from develop branch (in composer you type `dev-develop` as version) and tell does it work for you. Any feedback welcome. If it's ok, it's gonna be merged in the nearest Magallanes version :)

[2015-02-24 20:32] Trudko commented on #185
Cool will test tomorrow morning.

[2015-02-24 21:48] jtolj opened #198 "Fix Version Information json for upgrade task"
Looks like the same problem as this previous issue.
https://github.com/andres-montanez/Magallanes/issues/69

The trailing slash need to be removed from available[] in http://download.magephp.com/upgrade.json

Thanks!

[2015-02-25 13:33] Trudko commented on #185
Well I've tried it and folder is created on git rebase strategy but now after command  cd releases/20150225132014 && git checkout master\"" I get error that one of my files needs merge and error: you need to resolve your current index first. Not sure how this can happen if mage is pulling from remote. What am I missing?

[2015-02-25 13:43] eps90 commented on #185
Ok, I'll take a look on that.

[2015-02-27 11:47] lucascherifi commented on #185
It cannot work... you mkdir then you git checkout my_branch

2015-02-27 11:41:42 -- Running Deploy via Git Rebase [built-in] ...
2015-02-27 11:41:42 -- Run remote command cd /home/******/public_html/**********/current && mkdir -p /home/******/public_html/**********/current/releases/20150227114142
2015-02-27 11:41:42 -- ---------------------------------
2015-02-27 11:41:42 -- ---- Executing: $ ssh

[2015-03-02 23:24] robi50 opened #199 "`chown`ing not exists $symlink"
Release task fails if "current release" symbolic link directory not exists since it will try to `chown` not exists directory. Command fails with "No such file or directory"

[code]
2015-03-02 23:21:13 -- ---- Executing: $ ssh  -p 22 -q -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no robin@{IP_ADDRESS} "sh -c \"cd /home/robin/mage-test && chown -h robin:robin current && chown -R robin:r

[2015-03-03 10:42] spongeben commented on #199
There's a PR about this bug #195 (first part), but it needs feedback if you can have a look ;)

[2015-03-03 21:53] chrisfromredfin commented on #51
@jhuet using this workaround, are you finding yourself "in the wrong folder" for your tasks then? For example, I am not allowing a deployment (via rsync) to production except from the 'master' branch - so I've got a Task VerifyBranch. However, running my mage deploy from my outside-of-environment folder, the git command fails because I'm not in a repo (eventually I will be in a repo, so even batti

[2015-03-04 14:32] jhuet commented on #51
@chrisfromredfin, absolutely, that's why i had to create (this PR)[https://github.com/andres-montanez/Magallanes/pull/171/files] for ``Scm/ChangeBranchTask`` where you should find tips on how to modify the tasks that are giving you a hard time right now.

Basically, every task that requires to do stuff in the actual repo should always ``cd`` into it beforehand. As most people uses Mage from their

[2015-03-05 17:38] Trudko commented on #185
Any update on this?

[2015-03-05 18:05] eps90 commented on #185
Sorry guys, I have completely no time in this week. I don't want to promise anything but I think the earliest day when I can look into the code is Saturday morning (CET)

[2015-03-05 18:10] Trudko commented on #185
No problem. My intent wasn't to push you, no need to apologize :) Thanks for the work you did so far!

[2015-03-05 18:13] eps90 commented on #185
Yeah, I know, but as a collaborator I feel responsible for this project and I want to keep the highest quality of the project with no keeping smells and temporary solutions. So I need some free time to analyze the code and find the best solution :) As you can see, I've just merged solving the problem partly, but it's still not good enough. So sorry again for delay, I hope I'm gonna fix it immediat

[2015-03-05 18:45] eps90 opened #201 "Enable Travis and Coveralls for Magallanes"
Related to #196
I've decided to merge this merge request, so developers can use travis and coveralls on their own if they want to. But to make it fully practical, we need to enable it for main project.
@andres-montanez Could you enable them? :) Thanks! :)

[2015-03-05 18:47] eps90 commented on #163
Issue moved to #201 . Closing.

[2015-03-05 18:47] #163 closed

[2015-03-05 18:50] eps90 commented on #198
I think you thought about trailing comma :)
Anyways, the issue is rather for https://github.com/andres-montanez/MagallanesSite, where the file belongs.

[2015-03-05 18:52] andres-montanez commented on #198
Fixed! Many thanks! :)

[2015-03-05 18:52] #198 closed

[2015-03-05 18:54] eps90 commented on #198
Haha @andres-montanez , you was faster than me :D I've just made a PR :)

[2015-03-05 18:55] andres-montanez commented on #198
That was crazy :D

[2015-03-05 18:56] eps90 commented on #198
Haha yeah  :D

[2015-03-07 14:05] eps90 commented on #185
@Trudko Can you pass your config and logs to make me reproduce the errors? I'm doing it with realses enabled and everything works fine.

[2015-03-07 14:10] eps90 commented on #199
I'm closing this issue (actually fixed in #195).

[2015-03-07 14:10] #199 closed

[2015-03-07 14:16] eps90 commented on #130
@gudron Can we close this issue?

[2015-03-07 19:02] kaiwa opened #202 "StrictHostKeyChecking option inconsistently used?"
Is there any reason StrictHostKeyChecking=no is set for the `ssh` command but not for the `scp` command?

[code]
...
[code]

[2015-03-07 20:22] eps90 commented on #202
I don't know where does it came from, but I'm pretty sure this was added to prevent checking `known_hosts` in case you're connecting by SSH the first time:
[code]
Have you got any problems with connection with that option?

[2015-03-07 23:05] kaiwa commented on #202
Hmm yes but i don't see why the option is not set for both commands (ssh and scp) if it is set for one of them. If the host verification would have failed for the ssh command (but actually did not because of the StrictHostKeyChecking=no option) it will fail eventually for the scp command because it verifies the host too and the option is not set for that one.

I guess it makes only sense and is wo

[2015-03-08 01:13] matiux opened #203 "Current release problem"
Hi,
I have a problem with release creation. In my remote server, the release dir is created, but current link, no. Infact, during deployment I get this error:
[code]

I perform deploy of my Symfony2 project in this way:
[code]

I installed with composer, 1.0.4 version

Here is some configs.
environment file:
[code]

And log which seems not contain any call to ln command needed to create "current"

[2015-03-08 08:05] eps90 commented on #202
You're right, I haven't spotted that this options is missing for `scp` :) Surely it needs fixing to prevent this inconsistency. I'll try to make proper pull request today :) Maybe even with configuration from issue you related.
Thanks a lot! :)

[2015-03-08 08:07] eps90 commented on #203
Yes it's a bug in `master` version. Yesterday I fixed in `develop` so everything should be working now. Please try to install Magallanes via composer in `dev-develop` version.

[2015-03-08 12:13] eps90 commented on #202
@kaiwa Hey, I've made a pull request (#204) fixing your issue. Could you take a look on that and test it? If everything will be ok in your opinion, it's gonna be merged soon.

[2015-03-08 12:37] eps90 commented on #155
Hey sorry for such delay.
If the problem still exists, it surely should be fixed because it makes unwanted mess in a target server. I'll take a look on that. Thanks!

[2015-03-08 17:58] kaiwa commented on #202
Tested it, works fine :+1: Thanks

[2015-03-08 17:59] eps90 commented on #203
Hey @matiux . This bug has been fixed in 1.0.5 version :)

[2015-03-08 17:59] #203 closed

[2015-03-08 18:00] eps90 commented on #202
Great, merging to develop then, will be released soon :)

[2015-03-08 18:00] #202 closed

[2015-03-08 18:00] #201 closed

[2015-03-08 19:02] matiux commented on #203
Thanks. I will try tonight! ;-)

[2015-03-09 09:11] Trudko commented on #185
Sure. I am using dev master version.

[code]

[code]

[2015-03-09 09:49] eps90 commented on #185
Great, thanks. I'll take a look on that in few hours (when I'll finish work)

[2015-03-09 10:15] eps90 commented on #185
In meantime, look at your directory where `releases` and `current` directories are and check if there's a `.git` folder. If so, remove it. It looks like the ricochet from buggy deployment (before my PR was merged).

[2015-03-09 18:44] Trudko commented on #185
OK I will check that. Btw for this project I was using tar strategy, might that play a role?

[2015-03-09 18:57] eps90 commented on #185
It shouldn't since you have releases enbled, that means that each deploy creates a directory named with directory id. So every time you run deploy, you should start from bare directory.
Things are different when you won't enable releases. Then everything comes into the same folder everytime. In the `GitRebase` case, Magallanes calls `git rebase` on your preoviously deployed sources.
In your case i

[2015-03-10 08:46] Trudko commented on #185
So I 've removed .git folder from  project root(under which there is current and releases folders) and now I get diff error.

[code]

[2015-03-10 09:29] eps90 commented on #185
hmm, don't you need to pass `repository` to `deployment` node in config? It tries to do `git fetch` in a not-git-aware directory

[2015-03-11 03:10] ParkMasakazu opened #206 "Undefined variable: currentCopy in RollbackTask.php"
Hi, I am thankful to always use the magallanes.
Thank you for the useful tool.
Recently, I was updated magallanes from v1.0.1 to v1.0.5.
But the following error After rollback occurred in v1.0.5.
[code]
This is the happy and help solve the problem.
Please continue the development of the future also a good tool.
Thanks you.

[2015-03-11 14:13] Trudko commented on #185
@eps90 you were right I had missing repository parameter. It looks ok now :) It would be great to update documentation about params for git rebase because I didn't find much about it on main page.

[2015-03-11 17:33] eps90 commented on #185
Ineed, documentation is necessary for many places here. I have somthing already written, when I'll finish, I'll do some PR with that :) Meanwhile, there's an issue for that.
So, I'm happy you resolved your problem :) I'm closing this issue then :) Take care!

[2015-03-11 17:33] #185 closed

[2015-03-12 09:27] ZesInternational commented on #206
in Mage\Task\BuiltIn\Releases\RollbackTask at line 91 add:
[code]
then it will work again.

[2015-03-12 09:28] ZesInternational commented on #41
+1

[2015-03-12 10:42] eps90 commented on #206
@ZesInternational Could you make a PR with that?

[2015-03-15 12:59] eps90 commented on #206
@ParkMasakazu Thanks to @ZesInternational the issue is fixed. Please install Magallanes from `develop` branch (in composer.json you need to pass `dev-develop` as version) and check if everything works fine :)

[2015-03-16 10:49] tychode opened #210 "RsyncTask - releasesDirectory checking issue"
Hi,

In file Mage\Task\BuiltIn\Deployment\Strategy\RsyncTask.php the statement can be seen:
[code]
This statement is always false. The function is_dir() checks whether path‘s $releasesDirectory/$currentRelease exist locally.

[2015-03-16 11:41] ParkMasakazu commented on #206
Hi, It's very quickly.
I have obtained from dev-develop, worked confirmation even here.
Thanks you.

[2015-03-16 14:22] eps90 commented on #206
@ParkMasakazu So, can we close the issue then?

[2015-03-16 15:37] ParkMasakazu commented on #206
OK, No problem. Thanks!

[2015-03-16 16:33] #206 closed

[2015-03-16 16:34] eps90 commented on #206
Fixed in #209

[2015-03-23 12:44] Trudko opened #212 "Create repository for documentation"
How about to create repo for documentation so people can contribute? I've spend good amount of time by figure how some stuff work and I am happy the little I've learned.

[2015-03-24 10:55] eps90 commented on #212
It's great idea to just **create** some detailed documentation. But why not to do it in this repo?

[2015-03-24 15:41] Trudko commented on #212
Sure  why not :)  What would be the plan?

[2015-03-24 16:36] eps90 commented on #212
The thing is everyone's too lazy to start writing :D I'll collect necessary points to acheive and I'll make a new issue with *always-up-to-date* todo list. Then one would do it all or there will be pull requests with chapters (I'd recommend this one, shorter code review). I can't promise but I can prepare the list even today (if I find some spare time). Then you can be first to contribute if you s

[2015-03-24 19:21] eps90 opened #213 "Detailed Magallanes documentation"
Hi devz! :)
After seeing that many developers encoured problems with Magallanes' tasks configuration I think it's the time to create some developer-friendly documentation. I prepared the list of things that **must be** documented with details. I started to write it some time ago but recently I have completely no time to code after work (I hope it'll change soon!) so I think that every developer ca

[2015-03-24 19:22] eps90 commented on #212
I've made an issue #213 with list of things to be documented. I think we can close this issue then?

[2015-03-24 19:23] eps90 commented on #174
As the contribution document is ready, I've made an another detailed issue about dev documentation. Please take a look. I think that this issue is to close then :)

[2015-03-24 19:24] #174 closed

[2015-03-24 19:28] #212 closed

[2015-03-24 19:30] eps90 commented on #130
I'm closing the issue - it's the part of refactor that can be made after unit test coverage will be sufficient.

[2015-03-24 19:30] #130 closed

[2015-03-25 21:16] recchia opened #214 "Undefined variable: currentCopy"
when i try to execute a rollback fail because Undefined variable: currentCopy in file RollbackTask.php on line 140. I use magallanes 1.0.5

[2015-03-26 06:28] eps90 commented on #214
Yes this is known problem in latest release but it's already been fixed in #209 , so you can update Magallanes to `dev-master` in your `composer.json` file :)

[2015-03-26 06:29] #214 closed

[2015-03-26 14:57] recchia commented on #214
Thanks for info, i will clone the repo cause im not use it as dependency in my project.

[2015-03-27 06:22] eps90 commented on #214
Cool, feel free to reopen this issue if bug presence is still up-to-date (I hope not :) )

[2015-04-10 07:09] elfantastico opened #215 "Rolling back a release not working cause of "Undefined variable""
I'm trying to rollback a release with
 - mage releases rollback --release=0 to:vm
 - mage rollback -1 to:vm

and I'm getting a

PHP Notice:  Undefined variable: currentCopy in /opt/magallanes/1.0.5/Mage/Task/BuiltIn/Releases/RollbackTask.php on line 140
PHP Stack trace:
PHP   1. {main}() /opt/magallanes/1.0.5/bin/mage:0
PHP   2. Mage\Console->run() /opt/magallanes/1.0.5/bin/mage:34
PHP   3. Mage\C

[2015-04-10 10:18] JoaquinFB opened #216 "Strategy git-rebase fails on releases."
If you use git-rebase strategy with active releases, the timestamp release folder is created, but it's empty when finish all process...

I think that must to do a pull from repository git to have the last data.

So, command:
mage releases rollback --release=-1 to:production

This command leaves me the current folder referenced to a empty release.

Thank you.

[2015-04-10 13:12] bunin commented on #215
similar issue

running ``./vendor/bin/mage releases rollback --release=-1 to:production``

[code]

from log file:
[code]

[2015-04-12 08:23] eps90 commented on #215
@elfantastico @bunin Hey, the issue has been resolved in #209 and the fix is still on `develop` branch. Try to pass `dev-develop` in `composer.json` as target version. I hope this fix gonna be released to stable version soon :)

[2015-04-12 19:16] andres-montanez commented on #216
Hi @JoaquinFB , could you post your config? (exclude sensitive data)
So I can better reproduce the issue.

Thanks!

[2015-04-12 19:52] andres-montanez commented on #215
Hi! As pointed by @eps90 the new release fixes this!
Thanks!

[2015-04-12 19:52] #215 closed

[2015-04-12 19:53] andres-montanez commented on #210
Hi! Good point!
The new release takes care of this.

Many thanks!

[2015-04-12 19:53] #210 closed

[2015-04-13 08:48] JoaquinFB commented on #216
production.yml

#production
deployment:
  user: user
  from: ./
  to: /srv/www/htdocs/magento
  excludes:
  strategy: git-rebase
releases:
  enabled: true
  max: 10
  symlink: current
  directory: releases
hosts:
  - 33.33.33.67
tasks:
  pre-deploy:
  on-deploy:
  post-release:
  post-deploy:

general.yml

# global settings
name: Magento
email: notifications@my.app
notifications: false
logging: tr

[2015-04-15 15:07] recchia opened #219 "fatal: Not a git repository (or any of the parent directories): .git"
Best Regards,

When first release is done magallanes change branch to master always, in second release (i have set branch to dev in config) it fails showing message: fatal: Not a git repository (or any of the parent directories): .git. But nevertheless, if i change manually branch to dev before deploy it works fine.

[2015-04-15 16:11] eps90 commented on #216
@JoaquinFB I change your comment formatting for better readability :)
Let me take a look on that. I'll give you feedback ASAP when I'll find what's wrong.

[2015-04-27 14:35] Philou255 opened #221 "error in packagist.org"
I get the following error when using composer with the requirements "andres-montanez/magallanes": "*"

 [RuntimeException]
  Could not load package andres-montanez/magallanes in https://packagist.org: [UnexpectedValueException] Could not parse version constraint ^0.1: Invalid version string "^0.1"

[2015-04-27 15:24] eps90 commented on #221
That's odd, I've just created new project with Magallanes dependency as you typed (with asterisk) and it installed successfully. Try following things:
* Try to update composer by running `composer self-update`
* If you've already had Magallanes as a dependency, update the package to the newest vesion with `composer update andres-montanez/magallanes`
I've also noticed that `develop` and `master` ha

[2015-04-27 15:30] andres-montanez commented on #221
Hi all, as @eps90 says, it's a very strange error. Specially because there isn't a "0.1" version.

[2015-04-27 15:31] andres-montanez commented on #221
Hmmm, perhaps the error is from the phpmock dependency?

[2015-04-27 15:36] eps90 commented on #221
@andres-montanez For me installation with `"*"` and `"dev-develop"` as a version works fine.

[2015-04-27 15:39] eps90 commented on #221
@andres-montanez it's even more crazy - as far as I understand, @Philou255 declared Magallanes as a dependency, so composer should not install dev dependencies.

[2015-04-27 15:40] andres-montanez commented on #221
¯\_(ツ)_/¯

[2015-04-27 15:42] eps90 commented on #221
I miss the "like" button on GitHub :)
@Philou255 Try to follow the steps from my first reply and tell us whether it helped you or not.

[2015-04-28 12:10] miraage opened #222 "Built-in release task fails on chown"
`chown` command is only can be executed if you are `root` user.
I want to deploy as `deploy` user, so task fails.

How do I figure out this problem?

https://github.com/andres-montanez/Magallanes/blob/a0f49203338770d971f82f204129d025c72c4eaf/Mage/Task/BuiltIn/Deployment/ReleaseTask.php#L77

Should look like

[code]

(also 1 more occurence of `chown` in this task)

[2015-05-05 05:41] eps90 commented on #222
@miraage I think it isn't the best idea for projects where deploy user has no `sudo` permissions. This could be done by giving `use_sudo` option in configuration like Capistrano does. I think there's a need to look deeper into deployment process to minimize the need of calling `chown` command.

[2015-05-05 08:37] marmotz opened #224 "Task: Copy vendors from previous release"
@ramunasd has created issue #156, 6 months ago, and it was closed by responding that "you could use shared directories".

Yes. We could.
But, IMHO it's not a good practice because while you deploy a new release, vendors are updated and current release use the "new vendors".
If the deployment is successful, ~ ok. The time that the old release use new vendors is short.
But, when the deployment is a

[2015-05-05 08:51] eps90 commented on #224
Well, you might be right. But I think it could be resolved in the other way: by creating `on-rollback` or `post-rollback` hook. Here's why:
* you can link your `vendor` dir as usual, by creating shared links. `on-rollback` would execute once again `composer install` so previous vendors will come back to versions from old `composer.lock`
* sometimes we need to do other things on rollback. For examp

[2015-05-05 08:56] marmotz commented on #224
Yeah, *-rollback was usefull !
But i think it's an other need and an other issue :)
Anyway, using *-rollback will not fix the short time lapse with a spatio-temporal flaw : old release use new vendors :)

[2015-05-05 09:13] eps90 commented on #224
Yep, that's true. I'll think about it and I'll try to write something soon. Or if you have working solution (or you want to do some) you can create a PR :) Thanks for suggestion anyway :)

[2015-05-06 13:25] miraage commented on #222
My user has `sudo` pemissions, but `chown` command **requires** `sudo` prefix when you aren't `root`.

[2015-05-06 15:41] eps90 commented on #222
Of course - but I am saying about optional `use_sudo` configuration variable. Usage would look like:
[code]
I would not hard code it because users who deploy with non-sudo user will get errors instantly. So the best way is to allow developer to choose this level.
In the other hand - as you say - `chown` will never run if command is called without `sudo`. I'll take a look, it looks like something u

[2015-05-14 02:40] mryanb opened #225 "Deployment "from:" location"
If I specify a deployment location other than "./" a bunch of the commands fail. I am currently trying to specify "./my-git-repo"

[2015-05-14 05:47] eps90 commented on #225
Could you paste some logs?

[2015-05-14 13:02] mryanb commented on #225
@eps90  The SCM commands were partially running.

Ex: This task pulls the from path so that it can be appended to commands
https://github.com/andres-montanez/Magallanes/blob/master/Mage/Task/BuiltIn/Scm/UpdateTask.php#L57

Ex: This task doesn't get the from path appended so it always runs in the root of the mage path.
https://github.com/andres-montanez/Magallanes/blob/master/Mage/Task/BuiltIn/Comp

[2015-05-15 10:37] drAlberT opened #227 "give help command on console"
running `mage` or `mage help` or `mage --help` or similar should give the user a command list or help ..

`Command "" not found.` or `Command "Help" not found.` is quite disorienting for new users ..

[2015-05-15 14:15] eps90 commented on #227
You're absolutely right. Some time ago I've started to build `--help` for all built-in commands but - don't remember why - I stopped. Recently I am extremely busy but I hope I'll finish what I've started.

[2015-05-15 15:10] drAlberT commented on #227
:) thank you in advance then .. have a nice day

[2015-05-16 18:55] eps90 commented on #221
@Philou255 Any updates?

[2015-05-16 20:45] eps90 commented on #227
Good news, @drAlberT ! :)
I've found my old code with commands' help messages and I've decided it's ready to create some pull request with it (#228). You can look on it and tell what do you think. Unfortunatelly it doesn't include any help message for calling `mage` with no arguments. It's just help messages for commands. But I can promise I'll keep working on that :) Any feedback appreciated!

[2015-05-18 09:27] Philou255 commented on #221
Sorry it seems to be working now. Looks like our proxy is having issues with some requests.

[2015-05-18 09:27] #221 closed

[2015-05-18 13:30] drAlberT commented on #227
Very very nice  :+1:

[2015-05-18 14:03] MadMind commented on #216
The problem about releases + git-rebase is that it assumes the the newly created folder contains .git/ folder.

[2015-05-19 08:13] MadMind commented on #216
@JoaquinFB to fix the issue add "repository" in your deployment parameters:

deployment:
  from: ./
  to: ./sites/test1
  strategy: git-rebase
  repository: git@github.com:my/test1.git

[2015-05-20 08:30] drAlberT commented on #213
@eps90 I think you missed the "install" command in the list

[2015-05-21 06:33] dompie opened #229 "bin/mage compatibility with php 5.3 / 5.4"
Hi,

just installed mage via composer using php53 (also tried php54). The following error occours:

[code]

In php55 it's working fine. Please fix and release a new composer package. Packagist says, it should work with php >= 5.3 , but it's not.

[2015-05-21 07:12] eps90 commented on #229
Hey, I think it's already fixed in #220 but not released yet. You can check out `dev-develop` version :) I hope new version will come soon (there are few bugs to fix)

[2015-05-21 07:31] dompie opened #230 "ApplyFaclTask compatibility with php 5.3"
[code]

[2015-05-22 06:08] eps90 commented on #213
Yep, you're right ;) Adding!

[2015-05-22 07:55] drAlberT commented on #213
:+1:

[2015-05-25 08:05] JoaquinFB commented on #216
Ok, thank you.

[2015-05-25 08:05] #216 closed

[2015-05-26 09:22] ramunasd commented on #224
Now i think this should be part of deployment strategy, not a separate task.

[2015-05-26 09:41] eps90 commented on #224
@ramunasd What, exactly?

[2015-05-26 13:07] jhuet commented on #224
I kinda disagree on implementing this strategy about vendor on deployment by default. The good practice still is to always install vendor from `composer.lock` not to copy the old vendor.

[2015-05-26 15:14] eps90 commented on #224
Well, at first, it's not gonna be a part of strategy - it will be another task :)
[code]
Then, there will be installed only **new** dependencies from `compose.lock`. If some dependency has been upgraded in `composer.lock`, it's gonna be installed too :)

[2015-05-28 11:45] drAlberT opened #231 "Environment variables in command execution"
Following #160

I have a big big issue both with SSH and local commands ... I really need to be able to **replace** ENV not append ...  the reason?  Damned OSX :(

I have my env polluted by this variable `COM_GOOGLE_CHROME_FRAMEWORK_SERVICE_PROCESS/USERS/ALBERT/LIBRARY/APPLICATION_SUPPORT/GOOGLE/CHROME_SOCKET=/tmp/launch-DPIE9i/ServiceProcessSocket`

I googled a lot but found only other issues, no

[2015-05-28 16:35] drAlberT commented on #231
Update:

`putenv('COM_GOOGLE_CHROME_FRAMEWORK_SERVICE_PROCESS/USERS/ALBERT/LIBRARY/APPLICATION_SUPPORT/GOOGLE/')` into `bin/mage` and  the incrimined env var was gone (just to test)

The problem still persist .. now PATH is giving the same issue .. I think this is a Mac OS X problem .. going to try port's bash

[2015-05-28 16:43] drAlberT commented on #231
`PS1=\h:\W \u\$`  => `sh: u$: command not found`

Ok it seems there is a big issue with command execution on OS X .. some escaping is needed

[2015-05-29 17:59] eps90 commented on #230
Thanks :) Fixed in 3547c03

[2015-05-29 17:59] #230 closed

[2015-05-29 17:59] #229 closed

[2015-05-29 18:07] eps90 commented on #222
Related to #111 and #226

[2015-05-29 20:48] eps90 commented on #231
Hi @drAlberT
That's interesting. Command escaping has been already made (I've merged a PR today but I am not sure whether it covers all cases) but I was sure that modifying env variables by passing them before command call should be done successfully anyway. I need to look deeper into it.

[2015-05-29 20:50] eps90 commented on #227
As soon as the feature of commands help has been implemented (but it's not completed though) I think I can close the issue now. I hope the rest of commands will be documented soon :) Take care!

[2015-05-29 20:50] #227 closed

[2015-05-29 20:54] eps90 commented on #192
@alwex Continuing your thought, how do you imagine to handle multiple releases of the same git-tag? The previous one should be removed? Let's say you need to deploy your app onto RC/QA server with certain tag and then you deploy it again. How should it behave?
Something that comes into my mind at the moment is to pass another parameters to deploy strategy configuration to determine release id on t

[2015-05-30 07:55] drAlberT commented on #227
I hoped a "list all available commands" ...  ;(

[2015-05-30 08:33] eps90 commented on #227
Easy :) There are a lot of things to do and surely the list of available commands will be added :)

[2015-05-30 11:17] alwex commented on #192
@eps90, In my opinion, there is only one release by tag. Assume you create a package named `project-v1.0.1.tar.gz`, you can deploy it on all your environments without regenerating it.
If really needed, it is still possible to generate package like `project-v1.0.1-prod.tar.gz` etc...

[2015-05-30 11:31] eps90 commented on #192
Of course, but there must some solution what to do, when someone would like to do e.g.:
[code]
I don't know why and for whay but... what then? Should the old one be removed? The idea of current releases is to collect previous releases for safe rollback. If the previous tag-directory would be removed, you cannot rollback after unsuccessful deploy.
So I propose a solution: to create a timestamp dire

[2015-05-30 11:31] eps90 commented on #192
What do you think @alwex ?

[2015-05-30 13:39] alwex commented on #192
I think you may have a look at [gitflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow), once a version is tagged, there is no further possible modifications to it. If you need to make a patch you use hotfixes and v1.2.3 goes to v1.2.4 with a new tag.

If you want to be able to deploy a the dev branch for example, then checkout this specific branch.

In my everyday w

[2015-05-30 13:57] eps90 commented on #192
Of course I see the advantages of your purpose but I was thinking about it in context of current deployment strategies. What you said make more sense now :) Would you like to keep old releases then anyway?

[2015-05-30 14:03] alwex commented on #192
To keep the old releases then I think it can be interesting to tag them with the last commit id.
[code]
So it can be easy to rollback to previous version with a
[code]
or to generate diff between two packages

[2015-05-30 14:05] eps90 commented on #192
Ok one more question - you've already given few examples with `*tar.gz` packages - is it part of your idea? To pack them and deploy as one file?

[2015-05-30 14:28] alwex commented on #192
This is only because I am used to deploy tar.gz packages. I prefer to transfert one archive instead of rsyncing a lot of files to prevent network failure to break the production. If you use archive you are sure that there is no curruption during the transfert or whatever.

I use to deploy my project this way:

* checkout the git tag
* php lint on all php files
* composer install
* execute phpunit

[2015-05-30 14:47] eps90 commented on #192
Sure thing. Ok, I'll take a look on that but I'm not sure exactly when because I have little time recently but keep your eyes, ears and GitHub open :)

[2015-05-30 14:58] alwex commented on #192
No problems, thank you for taking time to dig into this!

[2015-05-31 21:11] eaglefsd opened #233 "Magallanes does not read user correctly"
Hello everybody,

I just tried Magallanes and ran into the following problem:

I am forced to use www.domain.de as my username for SSH, but Magallanes just asks for the password for www.domain.@ssh.strato.de
So it just cuts off the .de ending. It also does not work with domain.de as username as my provider wants www.domain.de as username.

[2015-06-01 10:46] drAlberT commented on #231
I think the right approach should be to pass to command only a few set of really needed ENV, not all the environment (say TERM, LC_ and so on ..)

[2015-06-01 10:46] drAlberT commented on #227
:+1:

[2015-06-08 08:46] javiernuber opened #235 "PHP version 5.5 or later required."
If you use PHP version 5.3 or 5.4, bin/mage fails on line 12 because the empty function only supports variables in these versions. The documentation shows is supported since version 5.3.

[2015-06-08 08:54] #235 closed

[2015-06-08 08:54] javiernuber commented on #235
In master already corrected

[2015-06-09 07:49] drAlberT commented on #222
BTW, I set **FS ACL** on my sites root so I don't need to run `chown` .. but magallanes do it under the curtains and fails :(

I propose to make the `chown` run optional too ..

[2015-06-09 08:01] drAlberT commented on #111
@eps90 if sudo is smell having to be *root* is ? ..  ;) :+1: for avoiding chown/chmod as possible, giving a set of choices to the user via config parameters: use_sudo (t/f), run_chown (t/f), and so on ..

[2015-06-09 10:16] czettnersandor commented on #102
I'm happy that I found this awesome project and I really miss this feature too.

We are using Capistrano at the moment and trying to switch to Magallanes. Capistrano can use SSH Agent to forward the key to the remote machine and deploying from git is the default behaviour (Never used Capistrano another way)

[2015-06-09 13:39] drAlberT opened #237 "Command line execution issues"
Both local and remote commands has to be analysed in deep in order to double check command name / arguments escaping (i.e. be sure to escape every command or argument injection .. btw, nowadays mage runs remotely as _root_)

Furthermore when chown fails (for example) it is very hard to argue the root reason as the output given on commands execution is even too verbose on success but poor on remote

[2015-06-09 17:55] eps90 commented on #237
Hi @drAlberT , thanks for opening that issue. Please confirm, that #232 has to be reverted.
What do you mean by saying the following?

[2015-06-09 17:56] eps90 commented on #233
Very interesting issue. Could you provide some logs to ensure where the issue is?

[2015-06-09 18:42] eaglefsd commented on #233
[code]

So the logs say that Magallanes is trying to login as www.domain.de, but my cmd just shows www.domain. (maybe just a Windows display error)

Maybe it is related to the not-found tar command or the not-found rm command?

[2015-06-09 19:13] eps90 commented on #233
Ohh I see. Well, sadly, Windows is currently not supported. I don't know German **that** well but you can see that deployment fails at start, when it tries to `mkdir` and it fails. Then it fails twice trying to run `tar` and `rm`.
Did you try to run it with powershell? I don't know Windows as well as Linux but afaik the Powershell supports many commands accessible in Linux.

[2015-06-09 19:24] eaglefsd commented on #233
I'm deploying to SunOS, but my project is on my local Windows PC.

I had to use ./tidm, now Magallanes creates all folders.

It still fails at tar, but I'm trying to use rsync now and it seems to work. Too bad it does not work for releases :(

Can't you change it so it uses rsync if configured, and if nothing is configured it uses tar?
Windows does not support fork() according to [StackOverflow](h

[2015-06-09 19:29] eps90 commented on #233
You're right, it doesn't. Support for any Windows version could be done if we'll be sure that project works properly, that means we need to cover it with tests. Then we can take care of support for other OSes. And that needs a lot of work. So stay tuned ! :)

[2015-06-09 19:45] eaglefsd commented on #233
Well, I finally got it to work properly for me.

Still does not work with releases, but I'm on it.

I changed some lines in AbstrackTask.php:

207: added ```php``` after ```&&```

209: Removed the ```sh``` part, actually it works for me without it.

To get back to the bug: It ready the username correctly, it's just a visual bug with windows.

Would be nice if you could include a hint that Magallan

[2015-06-09 20:13] eps90 commented on #233
Yes, you're right, I'll try to add this to README asap, maybe it should go also on Magallanes site.
Relating for your code workarounds:
* You've added `php` into method executing remote commands but you need to be aware that not all remote commands are php scripts :)
* `sh -c` is just for security, we are sure that executing. `-c` parameter introduces the command (as string) to be called by `sh` p

[2015-06-09 20:22] eaglefsd commented on #233
with ```sh -c``` symfony tells me that ```environment prod"``` was not found :P

[2015-06-09 21:24] drAlberT commented on #237
Hi

#232 as it is makes almost every command to fail .. So yes, it can't be merged this way

I mean that to run "chown" (and it is hardcoded on deploy), to be able to delete old revisions (where www user has written logs and cache and own these files) and so on I think that the "deploy user" should be root or some privileged user ..

In my case I deploy as webmaster, apache is www-data and set thi

[2015-06-11 12:26] wekaservices opened #239 "Exit code is 0 even if the Releasing has FAIL"
Hi there,

Here is a copy of the output

Starting Magallanes
        Logging enabled: /var/lib/jenkins/jobs/App1/workspace/.mage/logs/log-20150611-141730.log

[code]

Finished Magallanes

jenkins@....:~/jobs/App1/workspace$ echo $?
0

The exit code is 0 as you can see,
Regards

[2015-06-29 14:07] claudioflagbit commented on #239
Related to #130

[2015-06-30 17:54] drAlberT opened #241 "define a precise CS checkable with php-cs-fixer"
IT would be simpler to be able to automatically run CS test on a well defined basis ..

If I am missing something please point me to the doc for configure an automated test for CS, I'd like to have a .php_cs file in the project or its counterpart if a CS fixer is already being used

thanks in advance

[2015-06-30 17:58] drAlberT commented on #241
OK I found the doc: --level=psr2

I'll provide a PR for including a well configured .php_cs file

[2015-06-30 18:10] eps90 commented on #241
Yes, there is an option to connect `phpcs` with TravisCI and there are plenty more services that we could use to provide code style analysis during CI build. I've already thought about it and there are some disadvantages or problems that I've met so far and I didn't resolve them or I didn't search to find the answer :)
* Analyze only the pushed code - I'm not sure that pure `phpcs` can do it.
* To

[2015-07-01 07:45] drAlberT commented on #241
@eps90 I'm talking about a simpler issue .. just include a php-cs-fix configuration file intended to enable the coder to simply run php-cs-fix (or, better, "composer cs-fix") on demand .. no hooks, not automagic

I think all the mage tree should be already be fixed, so simply running `php-cs-fix fix` (not only on the pushed code) should be good too ..

I'm pushing such a file on my fork, going to

[2015-07-01 08:05] drAlberT commented on #111
I'll be more clear .. there are some "maybe-fisrt-deploy-only" tasks (i.e. setfacl) that can only be run by root. sudo is the less smelling solution IMHO

[2015-07-01 15:23] #233 closed

[2015-07-02 11:39] eps90 commented on #111
Why do you think that tasks like `setfacl`, `chown` or `chmod` can be run only on first time deploy?

[2015-07-02 11:42] eps90 commented on #241
@drAlberT Ahh, ok, now I see what you've meant ;) Yes, it would be great to include coding standards configuration in the repo.
And yes, you're right - PHPUnit version should be at least with tilde before version number.

[2015-07-02 13:53] drAlberT commented on #111
@eps90 because of the man page of `setfacl`  ;)

    The file owner and processes capable of CAP_FOWNER are granted the right to modify ACLs of a file.
    This is analogous to the permissions required for accessing the file mode.
    (On current Linux systems, root is the only user with the CAP_FOWNER capability.)

[2015-07-02 13:56] drAlberT commented on #241
Iìll provide a PR shortly

[2015-07-06 14:46] vyachin opened #245 "error deploy on freebsd"
2015-07-06 13:34:11 -- ---------------------------------
2015-07-06 13:34:11 -- ---- Executing: $ ssh  -p 22 -q -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no user@example.ru "sh -c \"cd /home/user/www/dsf.example.ru && ln -sfn releases/20150706133402 current.tmp && chown -h user:user current.tmp && mv -fT current.tmp current\""
2015-07-06 13:34:11 -- mv: illegal option -- T
usage: mv

[2015-07-06 14:47] vyachin commented on #245
FreeBSD example.ru 8.3-RELEASE-p16 FreeBSD 8.3-RELEASE-p16 #0: Tue Apr 29 23:49:15 UTC 2014     root@amd64-builder.daemonology.net:/usr/obj/usr/src/sys/GENERIC  amd64

[2015-07-06 19:54] eaglefsd opened #246 "Custom task was not found"
Heyho,

I'm trying to fix my permissions with a custom task.

My code looks like this:

[code]

The file is called Permissions.php and it is stored in .mage/tasks.
I call the task with `- permissions`.

Magallanes always tells me that "Task Permission was not found". What am I doing wrong?

[2015-07-07 09:20] MM-Psiiirus commented on #245
Same error Solaris / SmartOS...i think T isn't even a proper parameter on any unix system , isnt it?

[2015-07-07 09:23] vyachin commented on #245
The parameter T exist only in linux version mv

[2015-07-13 14:06] Trudko commented on #213
Hi guys, so far there weren't any contributions were there? I am asking to see some example how it should look like in case I will have time to contribute.

[2015-07-13 14:09] eps90 commented on #213
@Trudko Unfortunately nobody has contributed here... Quite sad, but even I have no time to write anything here. But I'm very happy that someone wants to improve some things here ! :) I can take some point and describe it to give you an example how to write this. Which points would you like to document first?

[2015-07-15 03:11] nntoan opened #247 "How to deploy with strategy : git-rebase?"
Hello,

I can't found any documentation about git-rebase, how can I make it work?

[2015-07-15 08:16] Trudko commented on #213
Not completely sure yet, I guess we should start with things which are already on the website and which are still correct maybe?

[2015-07-15 08:22] drAlberT commented on #241
#244

[2015-07-24 20:33] dompie opened #251 "applyFaclsTask inaccessible"
How you can use applyFaclsTask?

I tried
- filesystem/apply-facls-task
- apply-facls-task

according to PermissionsTask documentation. But it says all time: Task "BuiltIn/filesystem/applyFaclsTask" not found.

And documentation ist _not_`present for ApplyFaclsTask.

Can anyone help?

[2015-08-06 14:23] proxium opened #252 "Enable sending copy email after deployment (addCC)"
Hello,

I checked Magallanes to see if I can use CC parameter and specify it in general.yml but I didn't found any existing implementation for that feature. Actually I'm using two email address in email field (general.yml):
email: email1@domain.me, email2@domain.me

It would be great to specify headers option with email

[2015-08-17 09:35] dariuszjastrzebski opened #256 "Per Host Configuration - YAML"
I wanted to use a different host configruation and in documentation in section : "Per Host Configuration" is example:

<pre>
hosts:
    - 172.16.0.101
    172.16.0.102:
        deployment:
            to: /home/sites/example.com/www
            user: legacy
        releases:
            max: 5
            symlink: httpdocs
        tasks:
            on-deploy:
                - custom-cache-warmup

[2015-08-17 09:41] benr77 commented on #246
I have the same issue. Custom task set up and working correctly on 1.0.3

Upgraded to 1.0.4, 1.0.5 or 1.0.6 and suddenly the custom tasks cannot be found. Roll back to 1.0.3 and they are executed correctly again.

[2015-08-18 08:03] schaetzle commented on #80
Yeah. I also wasted a lot of time. Please add this information in your documentation as long as deployment via git doesn't work.

[2015-09-02 07:37] drAlberT commented on #251
use `filesystem/apply-facls` (without "task")

[2015-09-16 15:31] matiux opened #258 ".gitignore"
How can I prevent the exclusion of .gitignore file?

[2015-10-02 16:05] danakil commented on #222
Hi ! My shell user is not root. I created it with ISPConfig and it is associated to my website so the right group/owner is already set on all uploaded files for a release. For now, the release process fails because I'm not allowed to execute chown and, if I understand well, I don't even need to chown my files.
Like drAlberT said, chown should be made optionnal.

[2015-10-02 16:08] drAlberT commented on #222
@danakil see my fork .. it should allow it

[2015-10-02 16:58] danakil commented on #222
@drAlberT Cool, it works, thank you !
For information to all the interested people, I had to add a
owner: "user:group"
line in the "deployment" section of the config file.

I hope your fork or a similar feature would be merged in the main branch.

[2015-10-06 22:08] sfi-fgarnier opened #259 "Replace default rsync args deployment"
[production.yml]
strategy: rsync
strategy_flags: # additional strategy options
    rsync: '--checksum --stats --omit-dir-times --ignore-times --delete --delete-after'

By default, "archive mode" is activated in the rsync way deployment (rsync -avz ...), how am I supposed to do if I want to remove "archive mode" or replace some args (-a -v -z) and deploy like this "rsync -rlgvz ..." instead of "rsy

[2015-10-07 15:07] pfastre commented on #246
Same issue here. 1.0.3 works, 1.0.6 not.

[2015-11-04 09:28] kuborgh-mspindelhirn commented on #237
At least for rsync strategy it seems like simply not escaping the output streaming would fix #232

Current state:
[code]

This works for me:
[code]

[2015-11-04 10:30] kuborgh-mspindelhirn commented on #237
Ok. Most tasks chain commands with && and escapeshellcmd breaks the chain silently so that is an other issue. Would be great if the pull request could be reverted.

[2015-11-05 11:18] lukashillebrand opened #266 "Can't run Magallanes globally"
Hi, thanks for making  Magallanes!
it runs very good with composer on a project basis, but not globally on my system, maybe there's hope :)
1. Installed succesfully http://bit.ly/1RXbKMJ
2. Added PATH to .bash_profile: `export PATH="$HOME/.composer/vendor/bin:$PATH"`
3. Error: http://bit.ly/1RXc52b

Any suggestions? Thanks!

[2015-11-17 15:10] tilt86 opened #267 "Deployment parsing error"
Hello,

I installed mage through composer, in composer.json:

then

It installed well:
root@test:/home/lprik/test# bin/mage version

I then initialized:
lprik@test:~/test$ bin/mage init --name="magetest atr" --email=luc.prik@gmail.com

.. and added an env:
lprik@test:~/test$ bin/mage add environment --name="preproduction"

The file for deployment: .mage/config/environment/preproduction.yml

(I als

[2015-11-17 16:58] tilt86 commented on #267
I managed to make it work, switching from dev-develop to 1.0.1
But in fact, I was with php < 5.5 first, and to make it work I changed this in bin/mage.

$timezone = ini_get('date.timezone');
if (empty($timezone)) {
#if (empty(ini_get('date.timezone'))) {
    date_default_timezone_set('UTC');
}

now it works with all php version on master branch with this change.

[2015-11-30 14:37] vlcekmi3 opened #271 "switching symlink atomically"
What about flip the symlink atomically by creating a temporary one and renaming it with `mv -T`?
as mentioned here: https://codeascraft.com/2013/07/01/atomic-deploys-at-etsy/

`ln -s new current_tmp && mv -Tf current_tmp current`

[2015-12-07 05:21] georgringer opened #273 "Check if "chown" is available""
on some hosters, the command "chown" is not supported. Therefore it must be checked if it is there, otherwise no deployment is possible with magallanes

I did a pull request already: https://github.com/georgringer/Magallanes/commit/cb125b63cdcd827dce984704c7568eb6cf97ab8e

would be more than happy to get feedback

[2015-12-07 10:24] matiux opened #274 "Problem to deploy"
I'm using magallanes on a new project but something not works.

[code]

[code]

This is the end part of log file

[code]

[2015-12-07 22:57] jhuet commented on #274
Could have a look at your config file please ?

[2015-12-08 22:35] matiux commented on #274
#local
deployment:
  user: my_user
  from: ./
  to: /var/www/Project/Name
  excludes:
      - .idea
      - composer.lock
      - storage/app/logs/*
releases:
  enabled: true
  max: 5
  symlink: current
  directory: releases
hosts:
  - x.x.x.x
tasks:
  pre-deploy:
  on-deploy:
  post-release:
  post-deploy:

[2015-12-09 11:12] jhuet commented on #274
Is the `rm /tmp/magebVWHmL /tmp/magebVWHmL.tar.gz` command the only one that failed in your logs ? Has the script been able to create this archive ?

[2015-12-09 14:31] diegorodrgrapa opened #275 "Deploying with different branch with git-rebase strategy"
Trying to set up Magallanes (1.0.6), I've encountered a problem trying to deploy with git-rebase strategy: it always deploys using the branch master.
I'd like to deploy to a develop environment using a different branch, say "dev". Is there any way to do this?

I've checked Magallanes code and I've seen that in GitRebaseTask.php file it looks for a parametre branch, and if there is none it uses the

[2015-12-10 08:16] matiux commented on #274
Yes, is the only that fails.
The script creates the archive, in fact, there are a files in the destination server

[2015-12-10 16:04] MM-Psiiirus opened #276 "Excludes:[] - only a specific folder"
Hiya,
i got a little Problem. My system is using a "/media" folder to store all media files.
This folder gets symlinked into the current release and is ignored by excludes:[] configuration BUT unfortunately an external lib does use this folder name as well so the subfolder "libs/LIB1/media" will be ignored and not uploaded to the server.

Is there any solution to fix or workaround it?

Cheers,
Ton

[2015-12-10 22:36] jhuet commented on #274
I'm not sure what's happening there, does this archive still exists in `/tmp/magebVWHmL.tar.gz` ? If so, can you try to delete it with the same user you're using to execute the script ? Do you have an error somehow ?

[2015-12-10 22:41] jhuet commented on #276
Yes, you can start excludes paths with `./`, ie `./media`.

[2015-12-11 07:18] MM-Psiiirus commented on #276
nope, unfortunately this isn't working, either :(

[2015-12-11 20:47] #271 closed

[2015-12-12 22:01] jhuet commented on #276
That's strange, i had the exact same problem and that's how i fixed it i believe. Have a look at the logs, you should see all commands that are executed. Could you paste the one creating the tar.gz ?

[2015-12-12 22:02] jhuet commented on #271
I think you should leave it open. There's not much activity here lately but atomic symlinking should definitely get into Magallanes.

[2015-12-12 22:05] vlcekmi3 commented on #271
yes, i agree, but i realized that this feature is already done..

look at: https://github.com/andres-montanez/Magallanes/blob/master/Mage/Task/BuiltIn/Deployment/ReleaseTask.php#L87

[2015-12-12 22:51] jhuet commented on #271
:+1:

[2015-12-14 09:59] kurtec commented on #275
I've encountered the same problem
You can solve this by adding command line option
[code]

[2015-12-16 11:59] diegorodrgrapa commented on #275
Wow, couldn't work out that it worked that way!! Thanks a lot, will try it soon.

Cheers.

[2015-12-20 14:27] tilt86 commented on #246
Idem for me with 1.0.6. Not tested with version < 1.0.6

[2015-12-21 11:22] psren commented on #256
At least i can confirm the problem. Per host configuration doens't seem to work like mentioned in the docs

[2015-12-30 03:56] 501c3 commented on #246
I also find the exact same issue with 1.0.6.  Some notes:
I installed magellanes in /opt/magellanes according to the instructions for a system wide installation in the first couple of paragraphs of the website....

[2016-01-02 12:01] MasterB commented on #245
I confirm this bug on FreeBSD

[2016-01-08 15:43] MM-Psiiirus commented on #276
Sorry for the Delay ... enclosed the line:

[code]

[2016-01-08 16:07] MM-Psiiirus commented on #276
I think it might be an OSX tar bug...if i use rsync it runs fine with :
[code]

My tar version :
[code]

[2016-01-10 20:49] TheRatG commented on #182
+1

[2016-01-12 14:15] arielkung commented on #256
To solve the problem in yaml the conf should be like this:

[code]

Documentation needs to be updated I think.

[2016-01-13 09:55] marmotz commented on #224
How to have access to last release in a task ?

[2016-01-13 10:03] jhuet commented on #224
You can retrieve the actual release with `$this->getConfig()->getReleaseId()` as for the past ones, i'm not sure there is an easy way but you can get inspiration from [`ListTask`](https://github.com/andres-montanez/Magallanes/blob/master/Mage/Task/BuiltIn/Releases/ListTask.php#L34).

[2016-01-13 18:27] psren commented on #41
This one would be super nice.

[2016-01-13 19:18] psren commented on #256
Yop. Works like a charm :+1:

[2016-01-21 17:52] AndreasA opened #280 "[FEATURE] copy "current" release to a fix path (opcache / pathcache)"
Some servers might have troubles if the destination folder (current) is a link, it is not that problematic if it is the final destination but sometimes one only creates a link to the current folder inside the docroot.

On some servers I had problems that the end destination of files was not updated correctly (even if doing a manual opcache clear it didn't always work, maybe due to threading or loa

[2016-01-25 15:05] marcocarnazzo commented on #246
Same issue with 1.0.6.
As a workaround I converted MyCustomTask into a builtin task.

[2016-01-25 17:23] tilt86 commented on #246
I used this repo https://github.com/magephp/magallanes and it works.

[2016-01-26 10:00] UncleTawnos opened #281 "Add shared folders feature"
It would be nice to have shared folder feature located in project tree on remote nodes:

/releases
/shared
/current -> releases/<release-id>

Shared will contain directories that needs to be preserved between releases (like user uploaded files) and should be symlinked in release directory

Example
/shared/folder
/releases/<release-id>/some/linked/path -> ../../../../../shared/folder

[2016-01-26 13:57] UncleTawnos commented on #281
nevermind, found LinkSharedFilesTask

[2016-01-26 13:57] #281 closed

[2016-01-28 23:24] LTRocky commented on #274
same problem here:
2016-01-28 22:36:43 -- ---------------------------------
2016-01-28 22:36:43 -- ---------------------------------
2016-01-28 22:36:43 -- ---- Executing: $ rm -f /tmp/mage7ot0sN /tmp/mage7ot0sN.tar.gz
2016-01-28 22:36:43 --
2016-01-28 22:36:43 -- ---------------------------------
2016-01-28 22:36:43 -- FAIL

tmp folder is empty. Any solutions ?

[2016-01-30 22:44] LTRocky commented on #274
solution to my problem: make sure you have correct permissions to the files you are about to deploy.

[2016-02-01 06:29] mattsnowboard opened #282 "If the logs folder is missing, mage command just spits out a bunch of errors"
The error here:
PHP Warning:  fwrite() expects parameter 1 to be resource, boolean given in /var/project/vendor/andres-montanez/magallan
es/Mage/Console.php on line 235

Could be prevented by printing a more useful message when the fopen fails to open a file.

[2016-02-06 12:08] Amzani commented on #246
I found a workaround @eaglefsd

Use this :
[code]

[2016-02-06 12:08] Amzani commented on #246
@tilt86 what's the # btw  https://github.com/magephp/magallanes  and this repo ?

[2016-02-23 07:42] bpoiss commented on #245
+1

[2016-03-16 07:23] misterboe commented on #273
+1

[2016-03-20 11:36] 1ma commented on #246
@andres-montanez @eps90 & to whom it may concern, I've submitted a PR to fix this issue. I'd be nice to have a hotfix release.

[2016-03-24 10:49] eddiriarte opened #287 "Git Branch must be tracked error."
Im trying to automate deploy of an app with mage and jenkins,  but im getting following error:

[code]

Can you tell me what does this message means?

besides of them, it seems that log cant be created (privileges? wrong folder? still inspecting that)...

could not found any related information on internet.

*BTW:* deploy from local machine works fine with same config.

[2016-03-24 11:23] eddiriarte commented on #287
Found a hint on Jenkins-Issues: [https://issues.jenkins-ci.org/browse/JENKINS-6856](https://issues.jenkins-ci.org/browse/JENKINS-6856)

[2016-03-24 11:53] eddiriarte commented on #287
yuhuu! Workaround as desdribed on the link, works for me! Not the best solution but for the moment is ok...

[2016-03-24 11:53] #287 closed

[2016-03-30 12:45] gwilgen commented on #237
Hi! I'm taking a wild guess addressing here a problem I've found:

I'm using cygwin, and in my first deploy, I notice that every command fails with the following sentence:
`bash: -c: line 0: unexpected EOF while looking for matching `"'`

I edited **Task/AbstractTask.php** (line 209 in current release) and replaced
`$localCommand .= ' ' . '"sh -c \"' . $remoteCommand . '\""';`
with
`$localCommand

[2016-04-11 11:07] kuborgh-hgiesenow opened #289 "Support for additional ssh options"
I need support for additional ssh options. For my case i need to specifiy a `-o ProxyCommand="ssh ..."`. This should be used for ssh, scp and rsync.
I will try to provide a PR.

[2016-04-15 21:46] natechicago opened #292 "Notification email reports SUCCESS even if deployment failed"
Currently, if deployment tasks fail but post-deployment tasks succeed, the CLI tool reports the deployment as a failure, but the notification email reports the deployment as a success.  This is because `DeployCommand::runNonDeploymentTasks()` resets `self::$failedTasks` to zero.  That static variable is then used further downstream to determine whether or not the email notification should consider

[2016-04-26 20:52] marcocarnazzo opened #294 "[FEATURE] "Inverse" command"
Magallanes is great! :)
But I miss a feature...
I can deploy from my local dev server to the production server. But how about to do the inverse?
The scenario: I broke dev site and I want to restore the last production deployed one.
Could be like an "inverse deploy" command.
Or do you have a better way to do this?
Thank you.

**Edit:** another way could be to mantain the tar created during the depl

[2016-05-04 14:09] marcocarnazzo commented on #294
I "resolved" using git: during deploy I commit something so I can restore easily.
I close this issue.
Thank you.

[2016-05-04 14:09] #294 closed

[2016-05-10 19:57] csuarez commented on #252
Implemented in #296

[2016-05-25 20:21] purch-FE commented on #41
Hey there,
@DaFox did you pushed a pull request ?
@andres-montanez  Is it possible to merge the @DaFox version if it's ok and working well ?

[2016-07-28 08:34] AndreasA commented on #273
Btw. I think mage actually currently has a bug:
If one sets owner then releases will not set fetchResult and ignore user/group settings.

[2016-07-28 08:37] AndreasA opened #304 "chown not executed in ReleaseTask if owner is set"
In the current ReleaseTask if one has set the owner option then chown will not be executed due to fetchResult never being set.

https://github.com/andres-montanez/Magallanes/blob/dd79eca75f8bc5ee1f970ad5853c3fa1df96e0fd/Mage/Task/BuiltIn/Deployment/ReleaseTask.php#L52

Which is only set in line 62 if $userGroup is empty which it isn't if owner is set.
However, if you fix this do only so in combina

[2016-09-05 10:12] matiux opened #306 "Windows problem"
I have a problem to deploy from windows.

I get this error when tar runs:

tar<child>: Cannot connect to C: resolve failed

I have read that the reason is that tar interprets colons (:) in file names as meaning it is a file on another machine. tar has the --force-local option that solve this problem if I run the commnad manually in terminal

But how can I apply this option to magellan task?

[2016-09-18 00:31] ChrisWesterfield opened #307 "Problem in Deployment Task Starting the Releasing"
Hi,
I'm currently phasing an Problem that I don't know how to solve.

This is my Config file

If I extend debuging I get the following Informations:

2016-09-18 02:13:29 -- Running Preparing Deployment ...
2016-09-18 02:13:29 -- Run remote command cd /home/xxxxx/sites/releases/20160918021323 && touch ./.deploy
2016-09-18 02:13:29 -- ---------------------------------
2016-09-18 02:13:29 -- ---- Exe

[2016-09-24 17:02] ChrisWesterfield commented on #92
This issue still exists and is not solved.
I'm currently getting the same issue as mentioned above.

The command executes with return code 255 as well.
Did anyone ever find an solution?

[2016-09-27 07:51] marcocarnazzo opened #308 "Magallanes can't delete old releases: Permission denied"
It's not a bug but I have a problem.
Magallanes can't delete old releases: "www-data" wrote files into cache directories and deployer user doesn't own them.

How do you resolve this matter?
Thank you.

[2016-10-01 18:57] Najki commented on #245
I can confirm that deployment with @fetzi's [cyberhouse/Magallanes](https://github.com/cyberhouse/Magallanes) fork works on FreeBSD. Unfortunately rollback doesn't. I hope that @fetzi will fix that soon but for now, his fork seems to fix the FreeBSD issue.

[2016-11-08 08:47] baldy2811 commented on #308
Config your Apache that he acts as deployer user. Mostly done in php-fpm or fcgi - it depands on what you use

[2016-11-11 10:56] #308 closed

[2016-11-17 13:54] dn5 opened #310 "runCommand* to return output instead of bool"
The `runCommand` and `runCommandRemote` returns boolean value whether the command was executed successfully. Is there a way to return an output/stdout of the command instead.

Pseudo Scenario:
You want to return **sha-1** of the file from previous release and compare it with the **sha-1** of the file from current release being deployed.

Example:
[code]

[2016-11-17 18:15] aschempp commented on #310
You can use the second argument to `runCommand` to get the output: https://github.com/andres-montanez/Magallanes/blob/master/Mage/Task/AbstractTask.php#L169

[2016-11-20 18:41] dn5 commented on #310
You are right. Totally missed that the parameter is referenced, though it was for other operation.

[2016-11-20 18:41] #310 closed

[2016-12-01 11:46] dn5 commented on #282
The better fix would be to automatically create `logs` folder in case it failed to look for it.

[2016-12-08 10:56] poolerMF opened #312 "in post-release or post-deploy get fail status or failed tasks"
In post-release or post-deploy I need fail status or check which tasks failed

[2017-01-02 22:19] andres-montanez commented on #44
Hi all, Version 1 of Magallanes has long reached it's end of life cycle, and I'm happy to say that the next mayor version will not have static calls :D
Many thanks to all!

[2017-01-02 22:19] #44 closed

[2017-01-02 22:23] andres-montanez commented on #41
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:23] #41 closed

[2017-01-02 22:24] andres-montanez commented on #39
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:24] #39 closed

[2017-01-02 22:28] andres-montanez commented on #51
Hi all, Version 1 of Magallanes has long reached it's end of life cycle, this feature will be available in the next mayor version. You will be able to pull Tasks from anywhere your Composer Autoload has access to.
Many thanks to all!

[2017-01-02 22:28] #51 closed

[2017-01-02 22:29] andres-montanez commented on #54
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:29] #54 closed

[2017-01-02 22:29] andres-montanez commented on #55
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:29] #55 closed

[2017-01-02 22:30] andres-montanez commented on #67
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:30] #67 closed

[2017-01-02 22:31] andres-montanez commented on #88
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:31] #88 closed

[2017-01-02 22:32] andres-montanez commented on #89
Hi, Version 1 of Magallanes has long reached it's end of life cycle, this feature will be available in the next mayor version.
Many thanks!

[2017-01-02 22:32] #89 closed

[2017-01-02 22:33] andres-montanez commented on #94
Hi all, Version 1 of Magallanes has long reached it's end of life cycle, the next mayor version will be far more Test Friendly.
Many thanks to all!

[2017-01-02 22:33] #94 closed

[2017-01-02 22:38] andres-montanez commented on #102
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:38] #102 closed

[2017-01-02 22:40] andres-montanez commented on #105
Hi, Version 1 of Magallanes has long reached it's end of life cycle, this feature will be available in the next mayor version.
Many thanks!

[2017-01-02 22:40] #105 closed

[2017-01-02 22:42] andres-montanez commented on #160
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:42] #160 closed

[2017-01-02 22:42] andres-montanez commented on #168
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:42] #168 closed

[2017-01-02 22:43] andres-montanez commented on #182
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:43] #182 closed

[2017-01-02 22:44] andres-montanez commented on #188
Hi, Version 1 of Magallanes has long reached it's end of life cycle, this feature will be available in the next mayor version.
Many thanks!

[2017-01-02 22:44] #188 closed

[2017-01-02 22:46] andres-montanez commented on #213
Hi all, Version 1 of Magallanes has long reached it's end of life cycle, and so it's documentation. The next mayor version will be well documented from the start.
Many thanks to all!

[2017-01-02 22:46] #213 closed

[2017-01-02 22:46] andres-montanez commented on #219
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:46] #219 closed

[2017-01-02 22:46] andres-montanez commented on #222
Hi all, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks to all!

[2017-01-02 22:46] #222 closed

[2017-01-02 22:47] andres-montanez commented on #224
Hi all, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks to all!

[2017-01-02 22:47] #224 closed

[2017-01-02 22:47] andres-montanez commented on #225
Hi all, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks to all!

[2017-01-02 22:47] #225 closed

[2017-01-02 22:52] andres-montanez commented on #237
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:52] #237 closed

[2017-01-02 22:52] andres-montanez commented on #239
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:52] #239 closed

[2017-01-02 22:53] andres-montanez commented on #241
Hi all, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks to all!

[2017-01-02 22:53] #241 closed

[2017-01-02 22:55] andres-montanez commented on #245
Hi all, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version. New version doesn't have mv command so it should work with FreeBSD.
Many thanks to all!

[2017-01-02 22:55] #245 closed

[2017-01-02 22:56] andres-montanez commented on #246
Hi all the PR has been merged, also Version 1 of Magallanes has long reached it's end of life cycle, and this feature will be available in the next mayor version and will be even better, taking full advantage of Composer.
Many thanks to all!

[2017-01-02 22:56] #246 closed

[2017-01-02 22:56] andres-montanez commented on #247
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:56] #247 closed

[2017-01-02 22:56] andres-montanez commented on #251
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:56] #251 closed

[2017-01-02 22:56] andres-montanez commented on #252
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:56] #252 closed

[2017-01-02 22:58] #256 closed

[2017-01-02 22:58] andres-montanez commented on #258
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 22:58] #258 closed

[2017-01-02 22:59] andres-montanez commented on #259
Hi, Version 1 of Magallanes has long reached it's end of life cycle, this feature will be available in the next mayor version.
Many thanks!

[2017-01-02 22:59] #259 closed

[2017-01-02 23:06] andres-montanez commented on #266
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 23:06] #266 closed

[2017-01-02 23:06] andres-montanez commented on #267
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 23:06] #267 closed

[2017-01-02 23:07] andres-montanez commented on #273
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 23:07] #273 closed

[2017-01-02 23:11] andres-montanez commented on #274
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 23:11] #274 closed

[2017-01-02 23:11] andres-montanez commented on #275
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 23:11] #275 closed

[2017-01-02 23:15] andres-montanez commented on #280
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.

I had a similar issue with OPCache and APC, so I've added a post release task with a reload of the php-fpm o webserver to make sure memory is wiped out.

Many thanks!

[2017-01-02 23:15] #280 closed

[2017-01-02 23:15] andres-montanez commented on #282
Hi all, Version 1 of Magallanes has long reached it's end of life cycle, in the next mayor version logs are optional.
Many thanks to all!

[2017-01-02 23:15] #282 closed

[2017-01-02 23:16] andres-montanez commented on #289
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 23:16] #289 closed

[2017-01-02 23:16] andres-montanez commented on #292
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 23:16] #292 closed

[2017-01-02 23:17] andres-montanez commented on #304
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 23:17] #304 closed

[2017-01-02 23:17] andres-montanez commented on #306
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 23:17] #306 closed

[2017-01-02 23:18] andres-montanez commented on #307
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 23:18] #307 closed

[2017-01-02 23:18] andres-montanez commented on #312
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-02 23:18] #312 closed

[2017-01-03 03:22] andres-montanez opened #314 "[Task] Copy Files"
Utility task for copying files, and use placeholders for variables like Environment.

Example Usage:
[code]

[2017-01-03 03:24] andres-montanez commented on #48
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-03 03:24] #48 closed

[2017-01-03 03:25] andres-montanez commented on #111
Hi all, Version 1 of Magallanes has long reached it's end of life cycle, this feature will be available in the next mayor version.
Many thanks to all!

[2017-01-03 03:25] #111 closed

[2017-01-03 03:25] andres-montanez commented on #169
Hi all, Version 1 of Magallanes has long reached it's end of life cycle, this feature will be available in the next mayor version.
Many thanks to all!

[2017-01-03 03:25] #169 closed

[2017-01-03 03:26] andres-montanez commented on #276
Hi all, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks to all!

[2017-01-03 03:26] #276 closed

[2017-01-03 17:36] jhuet commented on #51
Glad to see things moving forward! Welcome back @andres-montanez :)

[2017-01-03 17:40] andres-montanez commented on #51
Thank you! :D

[2017-01-03 17:49] andres-montanez commented on #155
Hi all, Version 1 of Magallanes has long reached it's end of life cycle, this feature will be available in the next mayor version. The cleanup task will be executed after all releases are done, so it's safe to delete them at that stage, because deploy and release tasks went ok.
Many thanks to all!

[2017-01-03 17:49] #155 closed

[2017-01-03 17:56] andres-montanez commented on #103
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
If you have directories with spaces, you can scape them in the configuration
`path: /var/web/document\ root`
Still this is a discouraged practice.
Many thanks!

[2017-01-03 17:56] #103 closed

[2017-01-03 19:19] andres-montanez commented on #231
Hi, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Many thanks!

[2017-01-03 19:19] #231 closed

[2017-01-03 19:39] andres-montanez opened #315 "[Deployment] Gitflow"
Being able to deploy from a Git repository, and maybe from a particular Tag.
Some examples given in #192

[2017-01-03 19:40] andres-montanez commented on #192
Hi all, Version 1 of Magallanes has long reached it's end of life cycle, so no further changes will be integrated to it, focus is for the next next mayor version.
Certainly this is something I would like to add to the new version, but probably not in the first release. I will create an issue for this feature request.
Many thanks to you all!

[2017-01-03 19:40] #192 closed

[2017-01-08 00:48] andres-montanez commented on #314
Added tasks: copy, move, remove, link.

[2017-01-08 00:48] #314 closed

[2017-01-08 06:01] andres-montanez opened #316 "[Tasks] Pre-register Custom Tasks"
Allow to pre-register custom tasks on the config file so if the task is used many times on the same project then it can be invoked by its "name" and not by it's classname

Example:
[code]

[code]

At init time all registered custom tasks will be instantiated and added just like the built in tasks.
This should make the config file more readable, and also if the class needs to be moved then you just

[2017-01-10 14:07] AndreasA commented on #280
Still would like to see such a feature in v2.
Also php-fpm might not be used (or reload might require permissions that don't exist), so I still think a copy option would be nice.

[2017-01-12 01:53] andres-montanez opened #318 "[Deployment] Decouple Strategies"
Decouple the Strategies and move logic from Runtime to the strategies.
For example Runtime doesn't need to know about Rollback and ReleaseId, that's only important for the Releases Strategy and not for the Rsync.

[2017-01-12 01:55] andres-montanez opened #319 "[Task] Hard Current"
Create a task for creating a hard copy of the current release besides the `current` symlink.
Most probable solution will be to copy the released directory to `releases/current` so all symlinks inside will still work.
The `current` symlink must still exists in order to know which one is the current release.

Feature Request derived from #280

[2017-01-12 01:56] andres-montanez commented on #280
Hi! I've created the issue #319 in order to add this feature in the new road map.

Cheers!

[2017-01-14 13:20] tadcka opened #320 "Nostromo release"
When planned release Nostromo version?

[2017-01-14 17:08] andres-montanez commented on #320
Hi! I'm aiming for a late January release, and so far I'm on track! ;)

[2017-01-14 17:08] #320 closed

[2017-01-24 19:57] benr77 opened #322 "V3 stability?"
Looking forward to the v3 releases. How stable is the v3 code at the moment? I see you haven't tagged a release for v3 yet. Any ideas when you might be able to do this?

Thanks for the excellent tool!

[2017-01-24 20:02] andres-montanez commented on #322
Hi! Will be releases in the next few days, I'm doing the last preps!

[2017-01-29 22:17] andres-montanez opened #324 "[Configuration] Improve Config Handling"
Improve how configuration is being handled, currently to avoid commands which doesn't require configuration, the others make a `requireConfig` call. This dependency should be avoided.

[2017-01-31 07:53] mbaeuerle opened #328 "Deployment best practices"
I wanted to use Magallanes for deploying a Laravel application (using v.3.0 dev-master). But I am not sure what the best workflow is.
When I want to deploy the master branch, my whole local directory is copied to the server, including my dev `.env` and vim `.swp` files.
So what is the best practice in this case? Should I create a local deployment directory where I don't develop but just run the de

[2017-01-31 07:56] aschempp commented on #328
I’m not familiar with v3 yet, but you can exclude files from being deployed. So it should be fairly easy not to upload the .env files or similar stuff.

We’re using Mage in a Symfony environment, and we’re not deploying the parameters.yml and also run composer install on the remote servers by default.

[2017-01-31 11:11] andres-montanez commented on #328
Hi! Thank you both for taking interest in this project!
@mbaeuerle regarding your question, as @aschempp mentioned you can exclude files and directories.
I'm not familiar with Laravel but in my case for Symfony I exclude the var/log and var/cache directories.
Also I may exclude the vendors and run the composer/install command on the remote host (at the on-deploy stage).

In your case you could exc

[2017-01-31 13:52] mbaeuerle commented on #328
Ok thanks for your fast replies! I will try the exclude file approach and the approach with creating a blank deployment directory and see what fits best in my case.
I close the issue for now.

[2017-01-31 13:52] #328 closed

[2017-01-31 14:21] andres-montanez commented on #322
V3 released! ;)

[2017-01-31 14:21] #322 closed

[2017-01-31 14:27] ufeldmann opened #329 "Composer path configuration per Environemt"
Wouldn't it be better to set the individual composer path per environment instead of setting it globally?

[2017-01-31 17:03] andres-montanez commented on #329
Hi!
Ideally composer would be installed globally, but I understand that's not always the case, so yes, it makes sense to allow a per environment option too.
Thanks! I will try to squees this on the next release.

[2017-02-01 14:25] Toflar commented on #329
Same here, this is a big problem. The environments might also be split over different hosts or physical servers so this is really need. I [quickly created a PR](https://github.com/andres-montanez/Magallanes/pull/330) for this, hoping that new versions will be released more often than in the past ;-)

[2017-02-01 14:28] andres-montanez commented on #329
Hi @Toflar , thanks for the PR, I will take a look at it!
And yes, the idea is to release more often :D

[2017-02-01 15:25] Toflar opened #331 "Commit the composer.lock"
As this is a project, you should commit the `composer.lock` file. Cheers :)

[2017-02-01 16:21] Toflar opened #332 "Add a composer selfupdate task"
I think it's pretty nice when you deploy and Composer updates itself.
However, it doesn't really make sense to do that for every single deployment. I think it would make sense to check if the Composer version is older than <configurable> days.

We could use `composer --version` that outputs the date for that.
WDYT?

You can assign this to me if you like the idea. I'll happily provide a PR for this

[2017-02-01 16:26] aschempp commented on #332
I already did something like that in v1 by simply adding a custom task that does composer self-update. I only run this in dev mode because I usually deploy to dev before prod.

[2017-02-01 16:30] Toflar commented on #332
Same here, but my production system does not have the same instance as my dev system. Therefore I need to update composer also on my prod release.

[2017-02-02 09:40] MM-Psiiirus opened #334 "v3 FTP / SFTP gone?"
Is there still a way to use an ftp connection with mage?

[2017-02-03 00:35] andres-montanez commented on #331
Hi @Toflar , I had a bit of a debate with myself about this, I added it, then remove it, then added it and remove it again.

I decided to keep it of the repo mainly because Magallanes is more close to a library than to an app (and the Composer documentation is indifferent regarding the lock in this case), and also without it we can ensure that the CI tests will run with the latests versions of the

[2017-02-03 00:40] andres-montanez commented on #332
Hi! It's an interesting feature, and yes I don't see another way to know how old the release is.
If it's more than XX days, you can run a self-update, otherwise SKIP the task.
Also the user must be warned (in the docs) that a self-update may require special privileges.

@Toflar feel free to do a PR for this, there is no rush ;)

[2017-02-03 00:42] andres-montanez commented on #334
Hi @MM-Psiiirus, there are many features in V1 that are not present in V3.
The idea now is to have a better Core and add features more slowly and 100% tested.

So for now there is no way to use FTP/SFTP. Still I strongly recommend not to use it, given that the FTP is an unsafe protocol. If you can the SSH then you use it for rsync or scp.

Regards.

[2017-02-03 00:42] #334 closed

[2017-02-03 07:21] Toflar commented on #331
True, I agree with you. I use it as a dependency too, it's all good :) It's good the issue is here anyway, for future reference when other people think the same ;) Closing, thanks for taking the time!

[2017-02-03 07:21] #331 closed

[2017-02-03 07:49] Toflar commented on #332
I'll work on it as soon as the other PR is merged into nostromo so I can reuse the `getMergedOption()` ;-)

[2017-02-03 12:18] dn5 commented on #316
Looking forward to see this. Did you think about the way you are planning to implement this?

[2017-02-03 12:29] dn5 opened #335 "Mage v1 documentation still displays documentation for v3"
Locating the v1 documentation @ [this url](http://v1.magephp.com/) still shows the documentation for new Mage version a/k/a v3 - Nostormo.

[2017-02-03 14:13] andres-montanez commented on #335
Hi @dn5 sorry about that! I've already fixed it!

Thanks!

[2017-02-03 14:13] #335 closed

[2017-02-03 14:16] andres-montanez commented on #316
Hi @dn5 like in the issue description, and load the tasks at runtime after the built in tasks.

[2017-02-03 15:43] dn5 opened #336 "Exec or equivalent through environment config"
Since we now have `filesystem` functions through configuration, I'd like to hear an input regarding the equivalent for `exec(ution)`. A lot of enterprise or large-scale projects have for example a binary applications that does some things quite necessary for a specific environment. Currently, this is at best dealt through custom task.

I'd prefer a choice through config (`.mage.yml`) file as:

[co

[2017-02-03 16:38] andres-montanez commented on #336
HI @dn5 it's an interesting idea! I will take a look at it.

[2017-02-03 18:54] dn5 commented on #336
Glad to hear! I hope to get a spare time and possibly send a pull request. Looking forward for new versions, you are doing Gods work :)

[2017-02-04 18:10] thePanz opened #337 "Provide a pre-build mage.phar executable"
I'd like to use mage not as a library, but as a deployment tool. Thus not requiring `mage` in my composer dependencies (what if I use symfony2 and can't upgrade to symfony3?)

I'll provide a first support for Box (https://box-project.github.io/box2/) as I already have a first working example :)

[2017-02-04 18:14] andres-montanez commented on #337
HI @thePanz a box file would be great!
Also currently I'm reviewing about installing Magallanes as a global command, using composer global, that should cover using mage without requiring it in the project :)

[2017-02-04 18:17] thePanz commented on #337
Hola Andres! My plan is to have a self-contained phar, which does not require any other command/library to be executed. As you can imagine, adding magelan to the "global" would raise the same issue about dependency compatibilities :)

[2017-02-04 18:46] andres-montanez commented on #337
Yes, but the global require will not conflict on your project, only if you have other tools globally installed with conflicting versions.

How will be generated the phar? That's my main concern :)

[2017-02-04 19:36] andres-montanez commented on #332
PR merged ;)

[2017-02-04 19:37] thePanz commented on #337
Globals: yes, and you never know what a user has a global ;)

The phar: give it a try to the PR :)
The main process is able to run, even I'm facing some issue in finding the `.mage.yml` configuration (using a `$mage = new MageApplication(realpath('.mage.yml'));` in `bin/mage:14` helped

btw: I am not able to get any log using `-vvv`, nor any logs (even after setting `magephp: log_dir:` conf)

[2017-02-04 21:10] thePanz opened #339 "Add a "--dry-run" option"
As a developer, I'd like to have an option to simulate the deployment

[2017-02-04 23:11] thePanz opened #340 "Allow `fs/remove` to remove folders"

[2017-02-05 16:30] mbaeuerle commented on #340
I used a kind of hack to delete directories:
[code]

[2017-02-05 17:35] thePanz commented on #340
Nice, I guess it could be considered a "bug" as the filename is not escaped during the command execution :)

[2017-02-05 17:37] mbaeuerle commented on #340
Let's call it a helpful bug 😋

[2017-02-05 17:38] mbaeuerle opened #343 "Verbose mode doesn't show errors from executed commands"
I really enjoy using Magallanes, the overall process is very easy!

Most of the issues were external commands like `composer` or `cp`.
But unfortunately there is no information of what went wrong:

[code]
I had to ssh into my deployment server and run the command manually to see the actual error. I thought the `-v` mode would show more, but it doesn't.

[2017-02-05 18:50] andres-montanez commented on #343
Hi, if you enable the logs, you will see there all that's being done in the background, and also the responses from those commands.
That log should be very helpful for investigating what's going wrong.

[2017-02-05 18:51] andres-montanez commented on #340
LOL, "it's not a bug, it's a feature"

[2017-02-05 18:58] mbaeuerle commented on #343
Ah well I should have read the docs more carefully, shame on me.

[2017-02-05 18:58] #343 closed

[2017-02-05 19:01] andres-montanez opened #344 "[Task] Allow to flag Filesystem tasks"
Allow to provide flags to filesystem tasks: copy, move, link, remove.

For example:
` - fs/copy: { from: 'from/.', to: 'to/', flags: '-a' }`

Also add warnings in the documentation.

[2017-02-05 19:27] #340 closed

[2017-02-05 19:57] mbaeuerle opened #345 "Update require-dev phpunit to 5.x"
Is there a specific reason why phpunit 4.8.x is used?
Version 5 adds quite nice features like:
[code]

[2017-02-05 20:09] andres-montanez commented on #345
Yes, PHPUnit 5 and above require PHP 5.6, and changing that will break compatibility with Symfony 3 which requires PHP 5.5.9.

End of the year Symfony 4 will be released with a PHP requirement of >= 7 ;)

[2017-02-05 20:15] mbaeuerle commented on #345
Symfony achieved php 7 compatability [2 years ago](http://symfony.com/blog/symfony-achieves-100-php7-compatibility)!
PHP 5.5.9 is the minimum required version! So it should be fine to upgrade!

[2017-02-05 20:17] andres-montanez commented on #345
Yes, but the require is still in the dependencies, so you can run Symfony3 with php 5.5.9+, that should be maintained here in order to allow those users to use Magallanes.

[2017-02-05 20:29] mbaeuerle commented on #345
Ah okay, so the issue is not Symfony but the version of php. So you want to maintain php 5.5.9 as the minimum requirement for Magallanes as long as possible?

[2017-02-05 20:33] andres-montanez commented on #345
Exactly, I want to maintain the same minimum requirements as Symfony3.
And I hope most of those who uses Magallanes have newer versions, I still want to maintain the most compatibility, that's also why Travists tests are run against 5.5, 5.6, 7.0 and 7.1 ;)

[2017-02-05 20:37] mbaeuerle commented on #345
Okay alright then I close this for now.

[2017-02-05 20:37] #345 closed

[2017-02-06 08:41] Toflar commented on #329
Merged for v3.1, can be closed ;)

[2017-02-07 08:22] duraki opened #347 "Allow user to list built-in/custom tasks"
This could be a really great option for debugging the deployment procedure, and it's usage would be fairly simple. We would need a command for example `mage:tasks:builtin` to list all built-in tasks possibly with description and usage, and `mage:tasks:custom` to list all custom tasks.

We could further extend the task listing by allowing dummy tests to be made directly instead of writing unit test

[2017-02-07 11:28] andres-montanez commented on #347
Sounds cool!

[2017-02-07 12:05] dn5 commented on #336
Note: This is low priority task so merge can wait for further version.

[2017-02-07 15:28] dn5 opened #349 "Allow parallel deployment to hosts"
A parallel deployment means that the host(s) receive the same input and represent the output on hosts in the view of task execution. I've implemented some solution but it's quite hacked. The input is sent through `Thread` class in [Ruby](https://ruby-doc.org/core-2.2.0/Thread.html) which spawn several different shells of `php` (mage bin) with different config (environment) files. The solution work

[2017-02-07 15:34] andres-montanez commented on #349
Hi @dn5 I appreciate your feedback, but currently PHP doesn't have a native threading, and by native I mean that you don't have to compile anything extra.
So parallel deployment is out of scope for the current version of Magallanes.
Regards.

[2017-02-07 15:50] dn5 commented on #349
We could achieve similar effect using `PCNTL` functions right now, by forking current input. The feature should stay experimental but I'm pretty sure this could be done easily internally. Of course, it's pseudo native, so as said, not for production usage.

[2017-02-07 16:02] Toflar opened #350 "Escaping issue when using echo"
Hey Andres,

I know this is rather a question but I just can't figure out the issue and I'm so confused now that I thought i'd just submit an issue and maybe you know why this isn't working immediately :-D

I have a task that writes updated content to my Symfony `parameters.yml` during the on-deploy stage. In Mage v1 this worked perfectly fine like this:

[code]

I tried the very same for Nostromo

[2017-02-07 16:05] andres-montanez commented on #350
Hi, can you provide the command that is finally being executed?

[2017-02-07 16:05] qzminski commented on #350
I have also asked about this on StackOverflow. Maybe any hint there will help to solve this issue.

https://stackoverflow.com/questions/42087135/sh-fails-to-write-content-to-a-file

[2017-02-07 16:08] Toflar commented on #350
Wow, ultra fast :-) Sure, here's the log file (sensible data masked):

[code]

[2017-02-07 16:10] andres-montanez commented on #350
Thanks, I will take a look ;)

[2017-02-07 16:21] qzminski commented on #350
Just as an extra-info I can say it worked in the version 1 of mage but the command was executed in a different way there:

[code]

whereas the new version looks like this (note the missing wrapping double quotes):

[code]

I have tried to use the command syntax from the first version but then no output was caught by the Symfony Console component (when e.g. ran the ```cat app/config/parameters.yml`

[2017-02-08 04:22] andres-montanez commented on #350
Hi @Toflar can you test this patch?

[code]
Let me know if it solves the issue, I've done some testings and it should be ok.
If everything works fine I will update the tests and push it to master, so I can fix the bug right away.

Regards.

[2017-02-08 08:49] qzminski commented on #350
I can confirm that this patch solved the problem with the quotes and the echo command. However we also use the remote command ```pskill lsphp || true``` which clears the OPCache. This fails now because the pipe characters are being escaped. Do you think we can prevent escaping them as well?

[2017-02-08 09:09] Toflar commented on #350
I wonder why you are escaping anything else than `"`. I think it should be as simple as

[code]

[2017-02-08 11:12] andres-montanez commented on #350
Thanks @qzminski ! Yes, originally && and || had to be escaped, I will remove || as well, it shouldn't be needed now.
@Toflar did this also solved your problem?
Thank you both!

[2017-02-08 11:32] Toflar commented on #350
[code]

fixes all issues ;-)

[2017-02-08 12:03] andres-montanez commented on #350
Great!
I will push this over the weekend.
Thanks!

[2017-02-09 08:46] sas05 opened #353 "release task return no results"
Hi, I'm facing one problem

with this line of code

[code]

$result is null and deployment failed.

platform: OSX
destination platform: ubuntu

[2017-02-10 14:33] dn5 commented on #353
Could you post your workspace Mage logs?

[2017-02-10 15:50] Toflar commented on #332
Closing in favor of my PR :)

[2017-02-10 15:50] #332 closed

[2017-02-10 16:07] Toflar commented on #353
Hey @sas05, I think you run in the same escaping issue as I did. Too many characters are being escaped. Try changing the `runCommandRemote()` as I outlined in https://github.com/andres-montanez/Magallanes/issues/350#issuecomment-278303557.

[2017-02-10 16:46] Toflar commented on #336
@dn5 enjoy: https://github.com/andres-montanez/Magallanes/pull/356 ;)

[2017-02-11 02:31] andres-montanez commented on #350
Hi all, I've released version 3.0.1 with this bugfix.
Regards!

[2017-02-11 02:31] #350 closed

[2017-02-11 02:31] andres-montanez commented on #353
Duplicate of #350
fixed in release 3.0.1, already available!

Regards!!

[2017-02-11 02:31] #353 closed

[2017-02-11 03:14] andres-montanez commented on #329
3.1 will be released end of the month, luckily this is the shortest month! ;)

[2017-02-11 03:14] #329 closed

[2017-02-11 03:35] andres-montanez commented on #344
Feature will be released in Magallanes 3.1

[2017-02-11 03:35] #344 closed

[2017-02-14 08:59] dn5 commented on #336
Nice. I'd like to see your PR merged in following versions.

[2017-02-15 08:53] joseadame commented on #315
It would be a good enhancement! You would deploy the project from any machine.

[2017-02-18 23:58] maojindao55 opened #358 "task only be done on only one host [HOTFIX]"
My Magallanes vision is 1.06.

when i deploy, most ting going ok.but the custom task only be done only on one host.
on host x.x.x.x, the task not be done. y.y.y.y was ok.

i try change host postion line,  on host y.y.y.y, the task not be done. x.x.x.x was ok.

it seem like ony the last host have the task.

my config file:

[code]

[2017-02-20 07:38] dn5 commented on #349
Oh, lets not forget that parallel deployment was in the roadmap at the (I think) 1st presentation of Mage v1, right? :)

Anyway, I've looked upon other PHP based deployers and most of them works as I've explained in the issue topic. Here is the snip of the code from `deployer` tool:

[code]

I have went with different way, compiled the PHP (7.0.15) with ZTE flags enabled that allows extending to `

[2017-02-25 09:31] zf2timo opened #359 "Deployment worklfow clarification"
I'm new to Magallanes v3 and wanted to created a deployment for my project. Therefor I had a look at the default deployment and it's task.
[code]
This executes the `UpdateTask` and when I see it correct, it executes a `git pull` in the current project to fetch all changes from the repository.

Because of this behavior, I assume, a deploy with `git/update` should be executed on the remote host.

Bu

[2017-02-25 22:37] andres-montanez commented on #358
HI, I don't recall any issue with hosts. Did you tried more than two?
Also, Magallanes v1 has reached it's end of life and it does not have support anymore.
I strongly advice to update to v3.

Regards!

[2017-02-25 22:37] #358 closed

[2017-02-25 22:42] andres-montanez commented on #359
Hi! Glad you are interested in Magallanes!

Ideally you will have a dedicated directory from which you will run the deployments, so you won't have modified files in there, and in this scenario the `git/update` task must be ran on the `pre-deploy` stage, so your specialized directory is updated.

From there your code will be copied. Currently clone the repository to a safe directory and proceed fro

[2017-02-25 22:42] #359 closed

[2017-02-25 22:44] andres-montanez commented on #349
Hi! Thanks for the research, looks interesting.
Still having a feature based on a compile flag is not ideal.
Also the current scope of the project does not allow to invest effort in experimental features.

Cheers!

[2017-02-25 22:44] #349 closed

[2017-02-25 22:47] andres-montanez commented on #336
Hi everyone, @Toflar PR has been merged and the feature will be available in v3.1.
Thanks everyone!

[2017-02-25 22:47] #336 closed

[2017-02-25 22:54] andres-montanez commented on #339
Hi, I totally agree, it's a cool option.
But due the nature of the application, which heavily relies on command output (eg: list directories, run git commands, etc), the effort required for the feature is to big for the current scope of the project.

I will cose the issue but probably will revisit it in a future version.

Thanks!

[2017-02-25 22:54] #339 closed

[2017-02-26 09:35] zf2timo commented on #359
Thank you for the fast response @andres-montanez

Maybe it should be added and highlighted in the documentation to execute the deployment in a clean environment or did i misread something?

If I can help with #315 feel free to ask.

[2017-02-27 09:29] dn5 commented on #349
Ugh .. Okay, I guess? Another way would be to use [pssh](https://linux.die.net/man/1/pssh). It's native, it allows everything passed through base `ssh`, so rsync would work too. No matter how much I love this tool and it's way of working, it could never be used on a larger-scale codebase system since it lacks some basic deployment features.

[2017-03-01 15:19] Havrin opened #361 "equivalent to "from:""
I started a new project with the new v3 of magallanes. Maybe I am missing something, I tried to copy and change my config of my old v1 projects to v3, but I am missing the `from:` parameter. I have my grunt, composer etc. stuff on root-level and a folder "http" with my project files I want to deploy. On v1 I used `from: ./http` in the configuration, now all vendor, node_modules files etc. are depl

[2017-03-06 20:13] andres-montanez commented on #361
Hi! That option was removed from V3.
Your .mage file should exists in the directory from where your deployment dir starts.
By your comment above, you should have your .mage.yml inside the http directory.

Regards.

[2017-03-06 20:13] #361 closed

[2017-03-07 09:51] Thomas-Pamono opened #363 "Common configuration for environments?"
Hello,

I have multiple testing environments which essentially only differ in the host_path.
It would be really helpful to have a kind of global environment configuration with a kind of inheritance to not repeat it over and over again with the same settings and tasks.

[2017-03-15 17:55] dn5 commented on #363
Interesting, got the same idea several times through using Mage. Since you are talking about `host_path` means you are asking for Mage v3 implementation. I think thats fairly easy to implement since the YAML is in any case manipulated through array so such would just demand on appending `common` beforehand.

[2017-03-15 22:23] nexxome opened #366 "[Commands] Custom Commands"
Is it possible to use custom commands or run single tasks only? For example to only update database schema on a specific environment

[2017-03-17 21:45] wlwwt opened #367 "Tar-Creation on mac adds ._*-Files"
Hi there,

I am having problems with using magallanes on macosx.
Within the task "Running [Deploy] Preparing Tar file ..." a tar file is created in the systems temp dir.

On mac this task adds a lot of ._* files to the archive which then spams the server.

Here are more infos on these files:
http://apple.stackexchange.com/questions/14980/why-are-dot-underscore-files-created-and-how-can-i-avoid-the

[2017-03-22 16:54] etki opened #368 "Dynamic deploy path"
Hi.
We develop stuff using git-flow in our team, and in some cases (such as deploying feature branches) do not know deploy path in advance (it should be `/var/www/<project-name>/<service-name>/feature/<feature-name>` in our convention, and we can't add support for every feature by hand). I think that it would be great to add such feature to Magallanes, possibly by overriding configuration options

[2017-03-22 17:36] Toflar opened #369 "Deploy to multiple environments at once"
I use Mage to deploy the same setup to multiple hosts so what do you think about the `deploy` command just accepting an array of environments?

Right now it's `./vendor/bin/mage deploy prod1 && ./vendor/bin/mage deploy prod2` but imho it would be nice if I could just go for `./vendor/bin/mage deploy prod1 prod2`.

[2017-03-27 09:46] dn5 opened #371 "Allow symlink name parameter"
From what I can see in Mage v3, we lost a way to hardcode a symlink directory thus the deployment creates appropriate `releases` and `current`, breaking all old Docker images:

In Mage v1, we had a following option:

[code]

Any chance to get this back? And is there a reason why it's not enabled by default?

[2017-03-27 19:02] andres-montanez commented on #371
Hi, currently there is no roadmap for adding this feature back.
Magallanes v3 main goal is code quality and stability, then we can add these cosmetic features.

Regards!

[2017-03-28 13:00] dn5 commented on #371
I can't figure out how would this break the code quality and stability in any matter? It's just another parameter in environment config. Whatsoever, it can only bring an advantage to have something like this as initially.

[2017-04-14 06:10] aistis- opened #373 "Define whitelist of files instead of exclude"
Hi, is it possible to define the whitelist of files for deployment instead blacklist?

Some of the projects has a bunch of files, which should not be deployed and their number changes very often in the repository. However, we have only few files which need to be deployed, but those files are spread in various folders

How do you handle this scenario?

[2017-04-14 17:46] andres-montanez commented on #373
Hi, currently this is not possible. I advice to review the project's structure.
For example all symfony projects have the temporal files in the /var/ directory, so it's easy to exclude just that directory.

Regards.

[2017-04-14 17:46] #373 closed

[2017-04-14 20:09] andres-montanez commented on #367
Hi @wlwwt can you try add "._*" to the excludes files?
According to your link, this is a behaviour only to OSX.

Regards.

[2017-04-14 20:10] andres-montanez commented on #371
@dn5 this means a new config variable, a new option to propagate through the tasks, new test cases, etc.
I hope you see my point.

Regards.

[2017-04-14 20:39] andres-montanez commented on #366
Hi, currently that's not possible and is not on the road map.
Following your example, if you want to update the db schema you should run the symfony command for that (or corresponding framework's console).

Regards.

[2017-04-14 20:39] #366 closed

[2017-04-14 22:00] andres-montanez commented on #369
Hi, that would require to change how the parameters are read, and will limit how the parameter can be used.

And because you can do it already (calling deploy twice) I'm going to pass on the feature for now.

Still, thanks for your feedback!

[2017-04-14 22:00] #369 closed

[2017-04-14 22:02] andres-montanez commented on #363
Hi, thanks for your feedback.
I want to avoid a "global config", but I could work with the idea of "aliasing" an environment.
Still this is not on the roadmap right now, but I will put it on the nice to have list.

Regards!

[2017-04-14 22:02] #371 closed

[2017-04-14 22:03] #363 closed

[2017-04-14 22:07] andres-montanez commented on #368
Hi, thanks for your feedback. Currently this can't be done and I can't see an easy way to implement it.
I've been thinking about environment's aliasing and perhaps that could work for you.
Still right now this is not on the roadmap.

Thanks!

[2017-04-14 22:07] #368 closed

[2017-04-15 01:11] andres-montanez commented on #316
Implemented in version 3.2

[2017-04-15 01:11] #316 closed

[2017-04-15 14:15] wlwwt commented on #367
This solves the issue. Thanks for the hint.

[2017-04-15 14:16] #367 closed

[2017-04-17 11:29] etki commented on #368
@andres-montanez got it, thank you

[2017-04-17 11:51] robertosanval opened #376 "PHP bin location config"
I've different PHP versions in my local machine and deployment machine too.

How could I choose which `bin/php` command to use with Magallanes?

Thanks

[2017-04-17 12:54] andres-montanez commented on #376
Hi, did you try something like this?
`/path/to/php7 bin/mage`
`/path/to/php5.6 bin/mage`
etc…
That could work.

Let me know!
Regards!

[2017-04-17 13:01] robertosanval commented on #376
Yes, I've tried that, it's OK but the problem is with the php commands executed in Builtin Tasks like symfony/cache-warmup I'd like to chose the PHP version to execute those commands.

[2017-04-17 13:03] andres-montanez commented on #376
Well, those are executed "as it is", so currently there is no workaround for that.
Do you have a proposal?

Regards!

[2017-04-17 13:05] robertosanval commented on #376
How about to add a config parameter to magephp and each environment branch called php_bin?

[2017-04-17 13:06] andres-montanez commented on #376
That could be a valid workaround. I will take it into account for the next release.
Thanks!

[2017-04-17 13:07] robertosanval commented on #376
Thanks to you and your support!

[2017-04-17 15:20] robertosanval commented on #376
As a temporary solution I've tried to modify bin/mage file first line from:

#!/usr/bin/env php

[2017-04-24 14:44] bogdanmanate commented on #274
I'm having the same problem. I have already changed the rights on my project and on the tmp folders.
@LTRocky Can you please tell me what rights have you changed ?

[2017-04-24 17:58] LTRocky commented on #274
@bogdanmanate it was long time ago... having hard time remembering, but looking from what I have written in my previous comment I would suggest to at first make sure that the problem is with permissions: just try running magallanes with sudo.

[2017-05-11 06:50] b3nl opened #378 "Npm Install task"
Hi guys, what do you think about a npm install task? Should i prepare one?

[2017-05-11 07:25] b3nl opened #379 "Mage\Tests\Runtime\RuntimeMockup must be in autoload, not only in autoload-dev"
We need the class Mage\Tests\Runtime\RuntimeMockup to test our custom tasks, but because it is only included in the composer/autoload-dev it is not auto-included in our projects. (http://stackoverflow.com/questions/26941046/composer-require-dev-autoload-from-package-not-added-to-projects-autoload) This file needs to be moved in the "production autoloader".

[2017-05-11 13:06] b3nl opened #380 "Abort if log folder is missing, create it or document the behaviour"
If the configured log folder does not exist, nothing happens. "We wait" for the log, but it will not be created. I would suggest the tool tries to create it and aborts, if this is not possible.

[2017-05-12 06:19] b3nl opened #381 "Dynamic Task Name for example in symfony tasks"
It would be nice to not "duplicate" the symfony tasks for just changing small things, but calling the symfony console with a dynamic task which maps a suffix to the console call. I think, that this could be done easily in the TaskFactory.

[2017-05-30 07:53] matiux opened #387 "custom current symlink"
HI,
I need to custom current symlink. I would like to choice link name by config file.
It would be great if also releases directory could be chosen

thanks

[2017-06-05 04:16] duraki commented on #387
That was requested by me @ #371 and the response was rather interesting. The developer, in this case respected Andres Monranez, with all due fine efforts spent on this project (I use Mage v1 & v3 for all my presalt+devops "deploy" tasks) said that such a feature is (rather, ironic) a "cosmetic feature" and this would "break" code "quality" and "stability".

Such would require creating him addition

[2017-06-07 07:17] TisLars opened #389 "Unclear branch change error"
I use Magallanes in a Jenkins solution. When I run `vendor/bin/mage deploy production` manually in my own environment, it succeeds. However, an error occurs when it is trying to deploy my project to production when the deploy command is run in Jenkins. In the post-deploy stage it is not able to change branch. Why is it trying to change branch anyway?

    + vendor/bin/mage deploy production
    St

[2017-06-14 06:43] AndreasA commented on #319
Hi,
just wondering do you have an expected implementation date for this feature?

[2017-06-20 11:35] duraki commented on #387
Long delay, had a lot of things on my hand, here is a hotfix patch:

[code]

To use, set a `symlink` inside your `.mage.yml` configuration for specific environment.

[2017-06-23 08:13] svparijs commented on #389
Currently have same error, any idea's yet?

[2017-06-23 08:22] svparijs commented on #389
"This task is automatically added by Magallanes at the beginning of the Pre Deploy stage **if you have the option branch defined**. It will look if the current checked out branch and skip if it's the same as branch or change to it with git checkout branch. If the switch was made, the task will remember the original branch and reverse it at the Post Deploy stage. This is handled automatically by Ma

[2017-07-05 08:07] duraki opened #391 "Releases on Rsync"
In Mage v1, there was ability to use `Releases` with Rsync strategy. Lately, with Mage v3, I've been using `Tar` strategy which allows `Releases`, although while experimenting new features with Rsync, this option throws an exception.

Is there a reason why Mage v3 stopped supporting this feature when using `Rsync` as a method of deployment?

[2017-07-22 20:27] andres-montanez commented on #378
Hello! I see there is a PR #382 (in fact you commented on it).
To get more context, how do you use npm install for example on a symfony project?

Thanks!

[2017-07-22 20:35] andres-montanez commented on #380
Hi, logging is optional, but I agree that a warning should be displayed.

[2017-07-22 20:37] andres-montanez commented on #381
Hi, it would be nice yes, but probably harder to test, follow the workflow and maintain.
Cheers!

[2017-07-22 20:37] #381 closed

[2017-07-22 20:40] andres-montanez commented on #387
Hi, LTDR. Bottom line, you can easily workaround this with your virtual hosts configuration.
And is easier for me to maintain the code if I have less variables, specially as I stated earlier, this is not a deal breaker and you can configure your virtual host in any way you want.

Regards.

[2017-07-22 20:40] #387 closed

[2017-07-22 20:42] andres-montanez commented on #391
Hi, rsync is used when you do not use releases, because you are essentially pushing only new changes. And tar is used when you use releases because you need to copy a full set of your application, and copying a tar is far more efficient and easy to track, rsyncing to an empty directory doesn't make much sense.

Regards!

[2017-07-22 20:42] #391 closed

[2017-07-22 22:49] andres-montanez commented on #389
Hi @TisLars can you post the log?
But looks like you executed the deployment (you or jenkins) in a branch different than master, that's why the checkout was executed. If you are already on the branch you need to deploy, do not use the branch option as suggested bu @svparijs

Regards.

[2017-07-24 06:47] duraki commented on #391
Thank you for a clear response. That makes sense.

[2017-07-31 10:48] artberri opened #395 "Quoting parameters in File System built-in tasks prevents from using wildcards"
Hi,

Firstly, thank you for this fantastic work. Now, the issue:

The issue happens because of quoting shell parameters on file system tasks, like this:
https://github.com/andres-montanez/Magallanes/blob/master/src/Task/BuiltIn/FS/MoveTask.php#L43

When trying to use wildcards, for example:
`- fs/move: { from: './build/*', to: './whatever' }`

What the command is going to do is to try to find a fi

[2017-08-11 09:21] benr77 opened #396 "Where has the notification email functionality gone?"
The v1 system used to notify me by email when a deployment was performed, but this functionality seems to have been removed from v3 - is this correct? If not, how do I implement the email notification and define the recipient address etc?

Thanks very much

[2017-09-04 11:21] TisLars opened #397 "Fix owner from symlink release"
Our server is accessed as `root`, but the site folders are owned by a different user (e.g. foo.com has owner:group `foo:client`).

I have written the following custom task and all the content is set to the correct group and owner:

    <?php
    namespace Task;

    use Mage\Task\AbstractTask;

    class FixPermissions extends AbstractTask
    {

        public function getName()
        {

[2017-10-10 22:16] robertosanval opened #398 "Excludes are not excluded :("
Hello,

I'm having problems with the excludes sections, it seem to be OK and the `rsync` command is generated well without errors but excludes section is ignored and `rsync` command uploads all the files even the supossed to be excluded.

This is my `.mage.yml`

[code]

My `rsync` version is:

[code]

Thanks in advance

[2017-10-11 13:51] eidsonator opened #399 "Can't create symlink on Deploy in ReleaseTask on Windows host"
`ln` command in Release tasks returns with error when deploying to a Windows host.

I've hacked a work around to use the `mklink` command and reverse the order of the arguments.  This is hard-coded and of course breaks deploying to a linux box.  I could wire in a `host_os` config param to switch on and create a pull request if that is something you'd be interested in implementing.

[2017-10-11 16:05] eidsonator opened #400 "Can't create symlink on Deploy in ReleaseTask on Windows host"
`ln` command in Release tasks returns with error when deploying to a Windows host.

I've hacked a work around to use the `mklink` command and reverse the order of the arguments.  This is hard-coded and of course breaks deploying to a linux box.  I could wire in a `host_os` config param to switch on and create a pull request if that is something you'd be interested in implementing.

[2017-10-17 16:34] Rindhal commented on #398
Hello:

I have similar problem and find that rsync works relative to the root folder... if you remove the dot and slash from the begging should work.

Try with caution to update like this:

magephp:
    log_dir: ./var/logs/mage
    exclude:
        - var/cache/dev/*
        - var/cache/prod/*
        - var/log/*
        - web/app_dev.php
        - *.skipper
        - web/media/cache/*
        - we

[2017-10-18 06:29] robertosanval commented on #398
Great!! Thanks for the tip. Problem solved!

[2017-10-18 06:29] #398 closed

[2017-10-30 11:42] #399 closed

[2017-11-02 10:35] DepthSa opened #401 "magephp.com not working ?"
The site is not working anymore. Is this project still active ?

[2017-11-02 17:42] andres-montanez commented on #401
Hi, thanks for point it up. The site is up back again.
Cheers.

[2017-11-02 17:42] #401 closed

[2017-12-05 15:33] Toflar opened #403 "Add a log_max_files config"
My `log_dir` stacks up log files and I only need the last few of them, I think it would be great if mage deleted the old ones for me. Locally, I can delete them manually but as soon as you start working with Jenkins and stuff, the workspace grows rather big :-)

[2017-12-06 13:55] cbraillon opened #404 "Error on deployment with a Windows machine"
I am trying to deploy a project from PhpStorm (Windows) on a server but I have an error when I launch the command :
`bin\mage deploy develop`

I have an error on pre-deploy tasks :
`Running [Git] Change Branch (develop) ... FAIL`

I try to execute the command `git checkout` and it works.

More informations : [https://stackoverflow.com/q/47669938/8614882](url)

Any solution would be very helpful, t

[2017-12-07 10:07] humbkr opened #405 "Malformed ssh command when specifying port directly on hosts"
Hello,

The prepare-release task is not working when specifiying a port directly in the hosts configuration, because the generated command is malformed:

When specifiying the port using "hosts: - <hostname>:<port>"
ssh -p 2222 -q -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no www-data@163.172.24.193:2222 "mkdir -p /path/to/releases/20171206125517"

=> double port definition in ssh com

[2017-12-08 13:45] thbergler opened #406 "Not compatible with Symfony 4"
Hello,
the actual version is not compatible with Symfony 4.

When will be a version for Symfony 4 avaible?

Best regards
Thorsten

[2017-12-15 13:49] wimhendrikx opened #408 "When using rsync (without releases) you should start excludes with '/' instead of './'"
Maybe add this to the docs or remove the '.' when starting with './' while building the rsync excludes. It took me a lot of time to understand why my excludes didn't work.

[2018-01-04 10:39] fullbl opened #409 "Website is not working"
Website is not responding... Is the project mantained?

[2018-01-04 12:27] andres-montanez commented on #409
Hi, the project is on holidays :)
Thanks for the heads up, now the site is woking again.

Cheers!

[2018-01-04 12:27] #409 closed

[2018-01-15 21:28] UncleTawnos opened #410 "[feature request] Dynamic test environments"
I'd like to be able to change path on host depending on some ENV variable I can set at CI tool
The scenario is: there are multiple branches to be deployed to test server to apache virtual directories
there is a vhost responding to <jira-task-number>.test.domain.com and code after being built by CI should be deployed into /srv/www/tests/<jira-task-number>/current

Currently, as far as I know there

[2018-01-19 11:54] fullbl opened #411 "SYMFONY_ENV defaults to dev on deploy"
Hi, when deploying with mage, I would like to install composer dependencies without dev, but bin/console is executed with dev environment because:
`$env = $input->getParameterOption(['--env', '-e'], getenv('SYMFONY_ENV') ?: 'dev');
`

It seems that parameter `symfony: { env: 'prod' }` is not taken into consideration. Shouldn't be better to change environment at beginning of deploy and reset it at

[2018-03-08 14:37] JBlocks opened #415 "Make CopyTask scp command timeout configurable"
**Use case:**
Deploying using releases will copy the tar archive to the remote server with "scp command" with a timeout maximum of 300 seconds .

**Problem:**
If you have limited upload bandwidth and/or big tar archives, the command will run into a timeout after 300 seconds.
`$process = $this->runtime->runLocalCommand($cmdCopy, 300);`

**Solution:**
Make the timeout for the CopyTask (scp upload co

[2018-03-28 22:04] netsuo commented on #406
Any update on this @andres-montanez  ? This is really blocking for me, because I use magephp in all my projects and some are starting to be on SF4.

It would be catastrophic to have to change my deployment process for all of them

Thanks

[2018-03-29 19:34] #324 closed

[2018-03-29 19:34] #337 closed

[2018-03-29 19:48] andres-montanez commented on #380
Hi, this will be covered in the next release.

[2018-03-29 19:48] #380 closed

[2018-03-29 20:33] andres-montanez commented on #405
Hi, this will be fixed in the next release.
Thanks!

[2018-03-29 20:33] #405 closed

[2018-03-29 21:09] andres-montanez commented on #411
Hi, I wasn't able to reproduce this.
Can you share configuration and logs?
Thanks.

[2018-03-29 21:50] andres-montanez commented on #376
Closing this for the moment.

[2018-03-29 21:50] #376 closed

[2018-03-29 22:05] #408 closed

[2018-03-30 08:30] cbraillon commented on #404
Hi,
Thanks for the answer.

In case of someone had the same issue. I found an alternative solution to use it "on Windows". With Windows 10 64bit (only this version), we can install a Linux sub-system (see https://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10/). Now, I can use the linux bash shell directly from Windows !

[2018-04-07 08:06] benr77 commented on #396
Understood.

For Symfony users I've created a bundle to send deployment notifications. It's lightweight and can optionally include the Changelog file in the email notification

https://github.com/headsnet/deploy-notify-bundle

[2018-04-10 06:39] EuphoryX1 opened #421 ".mage.yml config load path"
Related: #337 #338
@thePanz wrote a configuration file issue.

When deploying applications with mage.phar, this error message will be shown:
[code]
`__DIR__` in the boot strap script(bin/mage) points to phar://... not to the local file.
I think config file should be loaded from CURRENT WORKING DIRECTORY.
This fix will be available in Magallanes installed via composer, too.

[2018-04-10 09:33] EuphoryX1 opened #423 "Invalid remote directory structure when environment "from" is specified(not default value)"
I tried to deploy directory which is expanded from an archive.
Assume the archive is expanded in a temporary directory.
[code]
In this case from environment should be "from: ./temporary/".
I expected that remote directory structure to be:

[code]
But.. As local directory structure is included in tar archive sent to remote, actual remote directory structure is:
[code]

When I used MagallanesV1 and

[2018-04-16 11:27] aschempp commented on #406
I guess this can be closed? 😄

[2018-04-16 11:50] andres-montanez commented on #406
LOL, yes :D

[2018-04-16 11:50] #406 closed

[2018-07-16 14:37] DanielSchwiperich commented on #423
Stumbled about it today also. A workaround / hack is just to misuse the `from` option.

Use
[code]

And it should work

[2018-07-27 17:08] mvscheidt commented on #423
PR #424 may be related if I understand the PR correctly.

[2018-08-20 06:20] maojindao55 opened #426 "Rollback not support last Release any more? must fill Release ID?"
Last version magephp

[2018-09-10 13:56] fritzmg commented on #306
It can be fixed by using
[code]
for example (_cfzop_ is the default for `tar_create`).

[2018-10-15 13:07] fritzmg opened #428 "v4: does not delete old releases?"
I have configured an environment with `releases: 2`. However, after successfully deploying a new release, old releases are never actually deleted. Currently there are already 7 releases in the `releases` directory - none of the old ones were ever deleted. The console output says the clean up is run successfully:
[code]
This task immediately finishes - which is odd anyway, because there would be a

[2018-11-26 07:14] benr77 commented on #411
For Symfony 4, `SYMFONY_ENV` has become `APP_ENV`.

[2019-02-05 20:57] panosru opened #430 "Cleaning up old Releases ... FAIL"
I'm testing mage, it seems cool, but it does not remove old releases:

![image](https://user-images.githubusercontent.com/400362/52303517-dfeb0500-2998-11e9-8423-54bd0823f19d.png)

*.mage.yml*:
[code]

The log result:
[code]

Also, shouldn't it rename the file `Fault.php` to `Fault2.php`?
![image](https://user-images.githubusercontent.com/400362/52303687-4f60f480-2999-11e9-8b5d-05ef0387708e.png)

[2019-02-05 22:31] panosru commented on #430
If I `var_dump` the `$process` variable here https://github.com/andres-montanez/Magallanes/blob/e30de6b719c923d70917a9f9364efdb29b7e9362/src/Task/BuiltIn/Deploy/Release/CleanupTask.php#L42

I receive:
[code]

but if I run the command manually, it works fine:
![image](https://user-images.githubusercontent.com/400362/52308654-8a1d5980-29a6-11e9-9ede-5a36ffbbb47f.png)

[2019-02-13 11:51] fritzmg opened #431 "project abandoned?"
I am just wondering whether this project is abandoned. The last commit was in April 2018 and so far there was no response to any of the pull requests. Also the website https://www.magephp.com/ has recently gone offline (though it already did so once one year ago).

[2019-02-13 14:00] andres-montanez commented on #431
Hi, the project is on hiatus, sorry about the web (it's up now again).
Eventually I will resume some of the works here, but the tool is very capable with the current features enabled, so there isn't a real need for improvement.
Thanks for your concern!

[2019-02-13 14:00] #431 closed

[2019-02-13 14:32] fritzmg commented on #431
Ok, thanks for the heads up :)

[2019-02-19 10:10] jfoucher opened #432 "Install fails in Laravel project"
When installing Magellanes 3.0 in a Laravel 5.5 project I get the following errors :

[code]

And so on but you get the gist of it

If I install Magellanes 4.* I get similar errors :
[code]

It seems Laravel uses some symfony 4 components and some Symfony3 components and Magellanes needs one or the other. Is there a way this can be fixed ?
Thanks

[2019-02-19 12:05] andres-montanez commented on #432
Hi, according to your log, the conflict is in `symfony/event-dispatcher v4.2.2`.
Magallanes 3 requires symfony 3. If you have a dependency on symfony 4 components, you can install Magallanes 4.
Cheers!

[2019-02-19 12:05] #432 closed

[2019-02-19 12:39] jfoucher commented on #432
Thanks for the quick reply. The issue stemmed from the fact that some dependencies used symfony 4 components and some others used symfony 3 components. I forced everything to use Symfony 3 components and installed Magellanes 3 and everything worked.
BTW major kudos for using the same version number as the symfony version you're currently depending on, that simplifies things a lot !

[2019-03-08 11:57] m-vo opened #433 "outdated SSL certificate on magephp.com"
Just wanted to inform you that the SSL certifificate on https://www.magephp.com/ is outdated since 1st of march (`SEC_ERROR_EXPIRED_CERTIFICATE`).

[2019-03-08 12:40] andres-montanez commented on #433
Thanks mate! Already solved! ;)

[2019-03-08 12:40] #433 closed

[2019-05-06 09:37] fritzmg commented on #276
Same problem here under MacOS only. @andres-montanez the bug affects the newest version of Magallanes as well - though it's probably not directly related to Magallanes. Just a problem with `tar` under MacOS I assume.

@MM-Psiiirus were you ever able to work around the issue?

[2019-06-24 14:16] q2dg commented on #433
Well, in fact, this project seems pretty abandoned...

[2019-07-10 08:01] jfoucher opened #435 "Requires symfony/ console v3.4.29 which is incompatible with e.g. phpstan"
This is the error I get when I try to install magephp alongside phpstan:
[code]

[2019-07-10 14:02] #435 closed

[2019-09-16 11:18] vdonchev opened #437 "Preparing Tar file - FAIL on Windows"
I am trying to deploy from my home PC (win 10 64) to my development server, but as soon as I execute mage deploy test (where "test" is the key for dev server settings) i get

`Starting Pre Deploy tasks:`
`Running [Git] Change Branch (development) ... SKIPPED`
`Running [Deploy] Preparing Tar file ... FAIL`

mage.yaml file:
https://gist.github.com/vdonchev/9ecc442c0be89aacf59b5171a190d9f4

**Envirom

[2019-10-15 09:05] cbraillon commented on #437
Hello, do you have a log file ? Logging is optionnal with mage php but you can enable them :
[code]

Maybe it's a problem with the command "tar" on windows ! We may have more clues with logs file.

[2019-11-17 09:34] vdonchev commented on #437
Hello,
sorry for the really late reply.
Bellow is the log:

[code]

[2019-11-22 10:14] spaivaras opened #439 "scp command uses same ssh options configuration"
ssh and scp commands have non compatible flags, for instance "-t Force pseudo-terminal allocation." used in ssh, not supported in scp. scp and ssh configuration should be seperated

[2019-12-10 09:11] pumgruson commented on #437
Hello,
It's appearing that the tar command failed.
The error is just that a file has been changed/deleted in the process.
The only thing that causes an abort is a read/write failure.

[2020-01-27 12:46] jGielen opened #440 "Symfony 5 support"
Will their be symfony 5 support?

[2020-01-28 17:22] andres-montanez commented on #440
Hello, not in the near future. If you are not using custom tasks, you can use Magallanes globally regardless of the Symfony version of your project.
Cheers!

[2020-01-28 17:22] #440 closed

[2020-03-20 00:30] jahrralf opened #443 "Cannot install in Symfony 5 project because of console dependency"
Hi, I am trying to include Magallanes in a symfony 5 project. This comes with symfony/console 5.0 which is higher than the 4.0 required by Magallanes. How can I solve this? Is there any way to build/get a phar? Would help here. Thanks!

[code]

[code]

[2020-06-23 05:27] vgross commented on #440
What is the best way to use it with Symfony 5 now?

[2020-06-23 05:29] vgross commented on #443
Same issue here, did you find a solution by any chance?

[2020-06-30 14:12] jahrralf commented on #443
No - lost my interest, no good solution so far.

[2020-09-10 11:39] hauke68 commented on #443
I fixed that and created a PR.
The fix works here in our environment, but better should be tested by other developers.

[2020-10-07 13:03] hauke68 commented on #443
Well, give me some time to prepare and deploy a release. I am currently busy at work.
Good you deployed the alpha release ;-)

[2020-10-07 13:12] ElGittoJunior commented on #443
I was able to deploy with Symfony 5.1.5 with it. As far working like a charm. Thank you!
I did the alpha release because I was in hurry, and I need to run composer. But it's your work and I would switch to your version.

[2020-10-09 11:56] hauke68 commented on #443
@ElGittoJunior  Released on Packagist ;-)

[2020-10-13 11:35] ElGittoJunior commented on #443
@hauke68 Thank you! I switched to your version. Works fine so far!

[2020-10-30 10:30] elrokket opened #446 "Magephp 3.4 problem with excludes files"
Hello, i dont know if is a bug or configuration problem, i have this mage config:

[code]

the excludes files or folder is not uploading (This is correct) but in development enviroment excludes folder/files are remove. How i can prevent that this folders  from being deleted? i need mantain this files without changes.

Thanks

[2021-01-24 08:54] Padina42 opened #447 "composer.json restict magallane to PHP 7.1"
Will magalanes 4.0 work with php 7.2, 7.3, 7.4 or 8.0?

[2021-01-24 10:12] Padina42 commented on #447
Sorry too early in the morning. The composer provide magallane for php <8.0. I had read it wrong. ic close this comment.

[2021-01-24 10:12] #447 closed

[2021-02-19 01:01] #428 closed

[2021-02-19 12:24] timotrautmann opened #449 "v4.1.0: New behavior / bug in build in Tar/PrepareTask.php"
The following change breaks our deployment process:
https://github.com/andres-montanez/Magallanes/commit/eae991dc6022b50cacd4841a94672304a5ae80d6#diff-8ff203ed23bf6cb6c197b5d7c64f0dc2b5b8c37187af339118e37fe8af72b24d

We only deploy a subfolder ./htdocs of our repository to the webserver. So we use the option "from: ./htdocs".
The old behavior was that, this code was transported to releases/2021021

[2021-02-19 12:49] andres-montanez commented on #449
Hi @timotrautmann , I will take a deeper look today.
Thanks for your quick comment!!

[2021-02-19 13:34] 2618094 commented on #440
In 4.1.0 supported

[2021-02-19 13:35] 2618094 commented on #443
in 4.1.0 symfony5 is supported

[2021-02-20 20:33] andres-montanez commented on #449
Hi! I've pushed the fix in version 4.1.1.
Regards!

[2021-02-20 20:33] #449 closed

[2021-02-20 20:33] #443 closed

[2021-02-20 20:34] andres-montanez commented on #437
Hi, there was never a good support for Windows, however v4.1 has improved some aspects.

[2021-02-20 20:34] #437 closed

[2021-02-20 20:35] #430 closed

[2021-02-20 20:36] andres-montanez commented on #426
Yes, that was removed, it proved to be too cumbersome to develop.

[2021-02-20 20:36] #426 closed

[2021-02-20 20:37] andres-montanez commented on #423
Hi, this was improved in v4.1.1
Regards!

[2021-02-20 20:37] #423 closed

[2021-02-20 20:37] #421 closed

[2021-02-20 20:40] andres-montanez commented on #446
Hi! Because you are using releases, each deploy is a new build, so changed files won't be kept.
If you need it, you can create symlinks to outside the release directory, or remove the `releases` option.
Hope it helps!

[2021-02-20 20:40] #446 closed

[2021-02-22 08:58] timotrautmann commented on #449
Thanks!

[2021-03-30 09:23] pikpikcu opened #452 "Clickjacking security issue: Missing X-Frame-Options header"
Issue Vulnerability Clickjacking: **https://www.magephp.com**
#### Vulnerability Description

Clickjacking (User Interface redress attack, UI redress attack, UI redressing) is a malicious technique of tricking a Web user into clicking on something different from what the user perceives they are clicking on, thus potentially revealing confidential information or taking control of their computer whi

[2021-04-01 21:16] andres-montanez commented on #452
Thanks! I've added the header.

Much appreciated!

[2021-04-01 21:16] #452 closed

[2021-07-08 14:38] dompie opened #453 "on-release question"
Hello,

I am wondering whether the `on-release` stage is triggered before or after the current directory was linked the the new release. The documentation is not that clear about that point. Someone knows?

Best regards.

[2021-09-23 09:48] #453 closed

[2022-03-30 13:51] gilbertsoft opened #455 "TypeError Exception with Composer 2.3.0"
When I run this command:

[code]

I get the following output:

[code]

The failed GH workflow can be found here https://github.com/TYPO3/get.typo3.org/runs/5754752804?check_suite_focus=true

[2022-03-30 17:59] gilbertsoft commented on #455
@andres-montanez I got feedback from Composer and the issue is already fixed with the current snapshot. I suggest to close this issue with the next Composer release.

Tested with Composer 2.3-dev+f1e3ba74abf39791f0dc9b7e0c6492b40685e1d8 and works again.

https://github.com/TYPO3/get.typo3.org/runs/5758998915?check_suite_focus=true

[2022-03-30 18:01] andres-montanez commented on #455
Allright! Best issue ever :)
Thanks @gilbertsoft !!

[2022-03-30 21:04] gilbertsoft commented on #455
It's release https://github.com/composer/composer/releases/tag/2.3.2 so I'm going to close the issue here.

[2022-03-30 21:04] #455 closed

[2022-04-10 20:54] andres-montanez commented on #319
Won't do.

[2022-04-10 20:54] #319 closed

[2022-04-10 20:57] andres-montanez commented on #379
This can be addressed at a test stage, so we'll keep things at def for now.

[2022-04-10 20:57] #379 closed

[2022-04-10 20:59] andres-montanez commented on #347
We'll rely on the documnetation page for the list of built in tasks.
For custom task we'll rely on the developer keen eyes.

[2022-04-10 20:59] #347 closed

[2022-04-10 21:01] andres-montanez commented on #410
This should be addressed by having different entries in your `.mage.yml` config file, defining one entry per environment.

[2022-04-10 21:01] #410 closed

[2022-04-10 22:41] andres-montanez commented on #403
Hi @Toflar! A new `log_limit` option (defaults to 30) will be available on V5!
Thanks!

[2022-04-10 22:41] #403 closed

[2022-04-11 00:36] andres-montanez commented on #315
Feature scoped to be able to deploy a specific tag.
Will be available on V5!

[2022-04-11 00:36] #315 closed

[2022-04-11 03:20] andres-montanez commented on #439
Thanks for this feature request @spaivaras , it will be availalbe on the upcoming version of Magallanes, V5!

[2022-04-11 03:20] #439 closed

[2022-05-17 20:34] boroth commented on #292
I'm seeing this in my v5 deployments as well, any tips on why that might be occurring? For example, a symfony/doctrine migration was formatted incorrectly and throws a 500 error, but Mage is still reporting it as a success? Also seen instances where remote commands/scripts fail with exit code 0 and Mage still thinks they're successful 🤷🏾

Running a symfony-cmd as follows:
[code]

[2022-06-13 22:17] aurimasval commented on #430
Still relevant on version 5

[code]

[2022-06-13 23:02] aurimasval commented on #430
It looks like problem is with Rate limiting with UFW not with php code itself.

[2022-09-05 06:27] bastien70 opened #460 "Add support for monolog/monolog 3.x.x"
With Symfony 6.1, we have the following error when installing the library :

andres-montanez/magallanes 5.0.0 requires monolog/monolog ^2.5 -> found monolog/monolog[2.5.0, 2.6.0, 2.7.0, 2.8.0] but the package is fixed to 3.1.0 (lock file version) by a partial update and that version does not match. Make sure you list it as an argument for the update command.